<div class="wrapper">
  <div class="sidebar" id="sidebar" data-color="red" data-image="../img/fondo-sidebar.png">

    <div class="sidebar-wrapper">
      <div class="logo">
        <a class="simple-text" ui-sref="home.inicio" href="">
          <img src="../img/manosxgotas-titulo.png">
        </a>
      </div>

      <div class="avatar-container">
        <a ui-sref="dashboard.perfil">
          <img class="avatar-sidebar" ng-src="{{currentUser.foto != null ? currentUser.foto : '../img/perfil-defecto.png'}}">
        </a>
        <div class="title">
          <a href="" data-toggle="collapse" data-target="#collapseAvatar">
            <p>
              {{currentUser.usuario.first_name}} {{currentUser.usuario.last_name}}
              <b class="caret"></b>
            </p>
          </a>

          <div class="collapse" id="collapseAvatar">
            <ul class="nav">
              <li>
                <a ui-sref="dashboard.perfil">
                  <i class="pe-7s-user hidden-lg hidden-md"></i>
                  <p>Mi perfil</p>
                </a>
              </li>
              <li class="hidden-sm hidden-xs">
                <a ui-sref="dashboard.perfil-edit">
                  <p>Editar perfil</p>
                </a>
              </li>
              <li>
                <a ui-sref="dashboard.solicitudes-donante">
                  <i class="pe-7s-note hidden-lg hidden-md"></i>
                  <p>Mis solicitudes</p>
                </a>
              </li>
              <hr style="margin: 0 15px; opacity: 0.2" class="visible-sm visible-xs">
            </ul>
          </div>
        </div>
      </div>


      <ul class="nav nav-sections">
        <li>
          <a ui-sref="dashboard.libreta">
            <i class="pe-7s-notebook"></i>
            <p>Libreta de donación</p>
          </a>
        </li>
        <li>
          <a ui-sref="dashboard.listado-eventos">
            <i class="pe-7s-star"></i>
            <p>Eventos</p>
          </a>
        </li>
        <li>
          <a ui-sref="dashboard.listado-solicitudes">
            <i class="pe-7s-like "></i>
            <p>Solicitudes</p>
          </a>
        </li>
        <li>
          <a ui-sref="dashboard.listado-centros">
            <i class="pe-7s-map"></i>
            <p>Centros de donación</p>
          </a>
        </li>
        <hr style="margin: 0 15px; opacity: 0.2" class="visible-sm visible-xs">
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-dashboard navbar-fixed">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-example-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-dashboard">

          <ul class="nav navbar-nav navbar-left nav-dashboard">
            <li>
              <a class="solicitudes-compatibles hidden-sm hidden-xs" ui-sref="dashboard.listado-solicitudes" popover-trigger="mouseenter" popover-placement="bottom-left" uib-popover="¡Puedes ayudar a {{solicitudesCompatibles}} personas en este momento!" ng-show="solicitudesCompatibles > 0">
                <i class="fa fa-bell-o fa-fw"></i>&nbsp; {{solicitudesCompatibles}}
              </a>
            <li>
              <a class="no-solicitudes-compatibles hidden-sm hidden-xs" popover-trigger="mouseenter" popover-placement="bottom-left" uib-popover="Actualmente no hay solicitudes disponibles que sean compatibles con tu grupo sanguíneo." ng-hide="solicitudesCompatibles > 0">
                <i class="fa fa-bell-o fa-fw"></i>&nbsp; 0
              </a>
            </li>
            <li>
              <a class="eventos-en-curso hidden-sm hidden-xs" ui-sref="dashboard.listado-eventos" popover-trigger="mouseenter" popover-placement="bottom-left" uib-popover="¡Hay {{eventosEnCurso}} eventos que se están realizando en este momento!" ng-show="eventosEnCurso > 0">
                <i class="fa fa-calendar-check-o fa-fw"></i>&nbsp; {{eventosEnCurso}}
              </a>
            <li>
              <a class="no-eventos-en-curso hidden-sm hidden-xs" popover-trigger="mouseenter" popover-placement="bottom-left" uib-popover="Actualmente no hay eventos en curso." ng-hide="eventosEnCurso > 0">
                <i class="fa fa-calendar-check-o fa-fw"></i>&nbsp; 0
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="prox-donacion-time hidden-sm hidden-xs" popover-trigger="mouseenter" popover-placement="bottom-right" uib-popover="{{diasProxDonacion}} días para tu próxima donación." ng-show="diasProxDonacion > 0">
                <i class="fa fa-clock-o fa-fw"></i>&nbsp; {{diasProxDonacion}}
              </a>
              <a class="prox-donacion-donar hidden-sm hidden-xs" popover-trigger="mouseenter" popover-placement="bottom-right" uib-popover="¡Ya puedes donar!" ui-sref="dashboard.libreta" ng-show="diasProxDonacion == 0">
                <i class="fa fa-tint fa-fw"></i>&nbsp; ¡Doná!
              </a>
            </li>


            <li>
              <a class="logoff" href="" ng-click="logoff()">
                <i class="fa fa-sign-out fa-fw"></i>
                &nbsp;Cerrar sesión
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container-fluid">
        <div name="dashboardContent" ui-view ng-hide="loading">

        </div>
        <div style="padding-top: 30px;" class="text-center" id="loading-bar-container" ng-show="loading"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="" ui-sref="home.inicio">
                Home
              </a>
            </li>

          </ul>
        </nav>
        <p class="copyright pull-right text-uppercase">
          Sistema de donación de sangre
        </p>
      </div>
    </footer>

  </div>
</div>
