<ion-view>
  <div class='col-md-6'>
    <div class="card">
      <div class="header" style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;' >
        <h4 class='title'>
          <span class='fa fa-user'></span>
          &nbsp; Información Personal
          <div class="pull-right">
            <a class="btn btn-default btn-sm" ui-sref="perfil-edit">
              <span class="fa fa-edit" aria-hidden="true"></span>
              <span class='hidden-xs'>Editar</span>
            </a>
          </div>
          <span class="clearfix"></span>
        </h4>
      </div>
    </div>

  <div class="content" style='padding-top:0px;'>

    <div style='width:120px; margin: 20px auto 20px;'>
      <img style='width:120px' ng-src="{{perfil.foto}}" alt="" class="img-thumbnail">
    </div>

    <div class='visible-lg'>
      <div class="row ">
        <div class="col-md-6 text-right">Correo electrónico:</div>
        <div style='padding-left:0px' class="col-md-6">{{perfil.correo}}</div>
      </div>
      <div class="row ">
        <div class="col-md-6 text-right">Nombre:</div>
        <div style='padding-left:0px' class="col-md-6">{{perfil.nombre}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Apellido:</div>
        <div style='padding-left:0px' class="col-md-6">{{perfil.apellido}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Nacimiento:</div>
        <div style='padding-left:0px' class="col-md-6">{{perfil.nacimiento | date:'dd/MM/yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">Grupo sanguíneo:</div>
        <div style='padding-left:0px' class="col-md-6">{{perfil.gs}}</div>
      </div>
    </div>

    <div class='hidden-lg'>
      <div class="row">
      <div class="col-md-6">
        <div class='text-center'>
          {{perfil.correo}}
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6">
          <div class='text-center'>
            {{perfil.nombre}}&nbsp;{{perfil.apellido}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class='text-center'>
            {{perfil.nacimiento | date:'dd/MM/yyyy'}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class='text-center'>
            {{perfil.gs}}
          </div>
        </div>
      </div>
    </div>


  </div>
  </div>
</ion-view>
