<div class='col-md-6'>
  <div class="card card-user">
    <div class="header" style='margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-user fa-lg'></span>
        &nbsp; Información Personal
        <div class="pull-right">
          <a class="btn btn-fill btn-default btn-sm" ui-sref="dashboard.perfil-edit" ng-cloak>
            <span class="fa fa-edit" aria-hidden="true"></span>
            <span class='hidden-xs'>Editar</span>
          </a>
        </div>
        <span class="clearfix"></span>
      </h4>
    </div>

    <div class="image">
      <img ng-src="{{imagenGS}}" alt="..."/>
    </div>

    <div class="content">
      <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]">

      <div class="author">
        <span  style="cursor: pointer" flow-btn>
          <img popover-trigger="mouseenter" popover-placement="top" uib-popover="Cambiar foto" ng-hide="$flow.files.length" ng-src="{{currentUser.foto != null ? currentUser.foto : '../../img/perfil-defecto-color.png'}}" class="avatar border-gray">
          <img popover-trigger="mouseenter" popover-placement="top" uib-popover="Cambiar foto" ng-show="$flow.files.length" class="avatar border-gray" flow-img="$flow.files[0]">
        </span>
        <div ng-show="$flow.files[0]" style="display: block; margin-bottom: 5px">
          <a ng-click="updateAvatar($flow.files[0])" class="btn btn-fill btn-success btn-sm" >
            <span class="fa fa-camera" aria-hidden="true"></span>
            <span class='hidden-xs'>Guardar foto</span>
          </a>
          <a ng-click="$flow.files[0].cancel()" class="btn btn-fill btn-danger btn-sm">
            <span class="fa fa-remove" aria-hidden="true"></span>
            <span class='hidden-xs'>Descartar foto</span>
          </a>
        </div>
        <h4 class="title">{{currentUser.usuario.first_name}} {{currentUser.usuario.last_name}}<br />
            <small>{{currentUser.usuario.username}}</small>
        </h4>

      </div>

      <div class='visible-lg'>
        <div class="row ">
          <div class="col-md-6 text-right">Correo electrónico:</div>
          <div style='padding-left:0px' class="col-md-6">{{currentUser.usuario.email}}</div>
        </div>
        <div class="row">
          <div class="col-md-6 text-right">Sexo:</div>
          <div style='padding-left:0px' class="col-md-6">{{currentUser.sexo}}</div>
        </div>
        <div class="row" ng-show="currentUser.peso">
          <div class="col-md-6 text-right">Peso:</div>
          <div style='padding-left:0px' class="col-md-6">{{currentUser.peso}} kg.</div>
        </div>
        <div class="row" ng-show="currentUser.altura">
          <div class="col-md-6 text-right">Altura:</div>
          <div style='padding-left:0px' class="col-md-6">{{currentUser.altura}} cm.</div>
        </div>
        <div class="row" ng-show="currentUser.nacimiento">
          <div class="col-md-6 text-right">Nacimiento:</div>
          <div style='padding-left:0px' class="col-md-6">{{currentUser.nacimiento | date:'dd/MM/yyyy'}}</div>
        </div>
      </div>

      <div class='hidden-lg'>
        <div class="row">
          <div class='text-center'>
            {{currentUser.usuario.email}}
          </div>
      </div>
        <div class="row">
            <div class='text-center'>
              {{currentUser.sexo}}
            </div>
        </div>
        <div class="row" ng-show="currentUser.peso">
            <div class='text-center'>
              {{currentUser.peso}} kg.
            </div>
        </div>
        <div class="row" ng-show="currentUser.altura">
            <div class='text-center'>
              {{currentUser.altura}} cm.
            </div>
        </div>
        <div class="row" ng-show="currentUser.nacimiento">
            <div class='text-center'>
              {{currentUser.nacimiento | date:'dd/MM/yyyy'}}
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class='col-md-6'>
  <div class="card card-user">
    <div class="header" style='margin-bottom:15px;' >
      <h4 class='title'>
        <span class='fa fa-line-chart fa-lg'></span>
        &nbsp;&nbsp;&nbsp;Estado de tus donaciones
      </h4>
    </div>

    <div class="content">
      <h5 class="title">
        <span class='fa fa-heart-o fa-lg'></span>
        &nbsp;&nbsp;&nbsp;Donaciones registradas
      </h5>
      <br>
      <div class="col-sm-12">
        <uib-progressbar max="25" value="currentUser.cantidad_donaciones" type="danger"><i>{{currentUser.cantidad_donaciones}}/25</i></uib-progressbar>
      </div>
      <h5 class="title">
        <span class='fa fa-heart fa-lg'></span>
        &nbsp;&nbsp;&nbsp;Donaciones verificadas
      </h5>
      <br>
      <div class="col-sm-12">
        <uib-progressbar class="progress-striped active" max="25" value="currentUser.cantidad_donaciones_verificadas" type="danger"><i>{{currentUser.cantidad_donaciones_verificadas}}/25</i></uib-progressbar>
      </div>
      <h5 class="title">
        <span class='fa fa-clock-o fa-lg'></span>
        &nbsp;&nbsp;&nbsp;Donaciones Pendientes
      </h5>
      <br>
      <div class="col-sm-12">
        <p ng-show="currentUser.cantidad_donaciones_pendientes > 0">
          Actualmente <b>estamos evaluando {{currentUser.cantidad_donaciones_pendientes}} de tus donaciones</b> para ser verificadas por nuestros administradores.
        </p>
        <p ng-hide="currentUser.cantidad_donaciones_pendientes > 0">
          Actualmente <b>no tienes donaciones pendientes</b> para ser verificadas por nuestros administradores.
        </p>
      </div>
      <div class="col-sm-12 text-center" style="margin-top: 5px">
        <a ui-sref="home.quienes-somos" class="btn btn-lg btn-danger">
          ¿Por qué 25 donaciones?
        </a>
      </div>
      <span class="clearfix"></span>
    </div>
  </div>
</div>
