<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <h3 class="text-center">
        ¡Felicitaciones! Has activado correctamente tu cuenta de MANOS POR GOTAS
      </h3>
      <img class="img-responsive center-block" src="../../img/registro-exito.png">
      <h3 class="text-center">
        Gracias por unirte a nosotros
      </h3>
      <h4 class="text-center">
        ¡Ya puedes iniciar sesión con tus credenciales y comenzar a donar!
      </h4>
    </div>
  </div>
</div>
