  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="header">
            <h3 class="title">
              <span class="fa fa-heartbeat"></span>&nbsp;&nbsp;&nbsp;{{solicitud.titulo}}
              <div class="pull-right">
                <button ng-show="solicitud.imagenesSolicitud" class="btn btn-success" ng-click="changeOption(1)">
                  <span class="fa fa-camera"></span>
                  <span class="hidden-xs">&nbsp;Fotos</span>
                </button>
                <button ng-show="solicitud.video" class="btn btn-success btn-fill" ng-click="changeOption(2)">
                  <span class="fa fa-video-camera"></span>
                  <span class="hidden-xs">&nbsp;Video</span>
                </button>
                <button class="btn btn-fill" style="background-color: #3B5998; border-color: #3B5998" href=""
                        socialshare
                        socialshare-provider="facebook"
                        socialshare-text="¡Necesitamos donantes para {{solicitud.paciente.nombre}} {{solicitud.paciente.apellido}} en Manos por Gotas!"
                        socialshare-description="Se necesitan {{solicitud.donantesNecesarios}} donantes en {{solicitud.centroDonacion.nombre}}. ¡Para saber más sobre cómo ayudar a {{solicitud.paciente.nombre}} ingresá a nuestro sitio!"
                        socialshare-media="https://rawgit.com/Renzo04/ionic/master/www/img/donacion-defecto.png">
                  <span class="fa fa-facebook"></span>
                  <span class="hidden-xs">&nbsp;Compartir</span>
                </button>
              </div>
            </h3>
            <div class="content">
              <div class="row">
                <h4>
                  Se solicitan {{solicitud.donantesNecesarios}} dadores de sangre para {{solicitud.paciente.nombre}} {{solicitud.paciente.apellido}} tipo: <span ng-repeat="grupo in solicitud.gruposSanguineos">&nbsp;{{grupo.grupoSanguineo.nombre}}</span>
                </h4>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div style="margin: 30px 10px;">
                    <div class="carousel-evento" ng-show="option === 1 && slides.length > 0" uib-carousel active="active" interval="myInterval">
                      <div uib-slide ng-repeat="slide in slides" index="slide.id">
                        <img style="display: inline-block; vertical-align: middle; background-size: cover" class="img-responsive center-block" ng-src="{{slide.image}}">
                      </div>
                    </div>

                    <div ng-show="option === 1 && slides.length == 0">
                      <img style="display: inline-block; vertical-align: middle" class="img-responsive center-block" src="../../img/solicitud-defecto.png">
                    </div>

                    <section ng-show="option === 2" class="ng-video-container">
                      <section class="video" ng-video>

                        <video vi-screen></video>

                        <section vi-controls class="controls">
                          <span vi-controls-play title="Play" class="glyphicon glyphicon-play"></span>
                          <span vi-controls-pause title="Pause" class="glyphicon glyphicon-pause"></span>
                        </section>

                        <section class="full-screen">
                          <span title="Full Screen" vi-full-screen-toggle class="glyphicon glyphicon-fullscreen"></span>
                        </section>

                        <section vi-feedback class="feedback">

                          <section class="loading" ng-show="loading">
                            <span class="fa fa-spinner fa-pulse"></span>&nbsp;&nbsp;Cargando...
                          </section>

                          <section class="timeline">
                            <input vi-timeline />
                          </section>

                        </section>
                      </section>
                    </section>

                    <ui-gmap-google-map ng-show="option === 3" class="small-map" center='map.center' zoom='map.zoom' options="map.options">
                      <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords"
                                      idKey="marker.id">
                      </ui-gmap-marker>
                    </ui-gmap-google-map>
                  </div>

                  <hr class="hidden-lg hidden-md">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <a style="color: rgb(51, 51, 51)" href="" data-toggle="collapse" data-target="#collapsePaciente">
                    <h4>
                      <span class="fa fa-user"></span>
                      &nbsp;&nbsp;Paciente
                      <b class="caret"></b>
                    </h4>
                  </a>
                  <div class="collapse in" id="collapsePaciente">
                    <ul style="margin-top: 5px">
                      <li><b>Nombre:</b> {{solicitud.paciente.nombre}}</li>
                      <li><b>Apellido:</b> {{solicitud.paciente.apellido}}</li>
                      <li><b>Edad:</b> {{solicitud.paciente.edad}} años</li>
                    </ul>
                  </div>
                  <a style="color: rgb(51, 51, 51)" href="" data-toggle="collapse" data-target="#collapseHorarios">
                    <h4>
                      <span class="fa fa-clock-o"></span>
                      &nbsp;&nbsp;Horarios de donación
                      <b class="caret"></b>
                    </h4>
                  </a>
                  <div class="collapse in" id="collapseHorarios">
                    <ul style="margin-top: 5px">
                      <li>
                        <b class="text-danger">Inicio:</b> {{solicitud.fechaHoraInicio | date:'fullDate'}} a las {{solicitud.fechaHoraInicio | date:'HH:mm'}} hs.
                      </li>
                      <li>
                        <b class="text-danger">Finalización:</b> {{solicitud.fechaHoraFin | date:'fullDate'}} a las {{solicitud.fechaHoraFin | date:'HH:mm'}} hs.
                      </li>
                    </ul>
                  </div>
                  <a style="color: rgb(51, 51, 51)" href="" data-toggle="collapse" data-target="#collapseUbicacion">
                    <h4>
                      <span class="fa fa-hospital-o" aria-hidden="true"></span>
                      &nbsp;&nbsp;Lugar de donación
                      <b class="caret"></b>
                    </h4>
                  </a>

                  <div class="collapse in" id="collapseUbicacion">
                    <ul  style="margin-top: 5px" ng-show="solicitud.centroDonacion">
                      <li>
                        {{solicitud.centroDonacion.nombre}}
                      </li>

                    </ul>
                    <p ng-show="solicitud.centroDonacion == null">
                      No hay ubicaciones disponibles
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12" ng-show="solicitud.historia != null">
            <div class="header">
              <h4 class="title">
                <span class="fa fa-history"></span>&nbsp;&nbsp;Historia
              </h4>
            </div>
            <div class="content">
              <p>
                {{solicitud.historia}}
              </p>
            </div>
          </div>
          <span class="clearfix"></span>
        </div>
      </div>
    </div>
