<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-medkit hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;&nbsp;&nbsp;Grupos sanguíneos
        </h1>
        <h4 class="jumbotron-subtitle text-uppercase">Forma de agrupar ciertas características de la sangre</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      <i>
        "Los grupos sanguíneos son unas sustancias que se encuentran unidas a la membrana de muchas células de nuestro organismo. Entre estas células encontramos los hematíes o <b>glóbulos rojos</b>"
      </i>
    </h4>
  </div>

  <div class="row">
    <h4 class="text-center">
      Hay muchos grupos sanguíneos, pero los dos más importantes son el <i>grupo ABO</i> y el <i>grupo Rh</i>:
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h4>
        El grupo ABO
      </h4>
      <p>La sustancia que determina este grupo sanguíneo son los azúcares, y según su composición, encontramos cuatro grupos: A, B, AB y O.</p>

      <p><b>Una persona del grupo AB es un receptor universal</b>, porque puede recibir sangre de cualquier otra persona; mientras que <b>una persona del grupo O es un donante universal</b>, porque puede donar sangre a cualquier otra persona.</p>
    </div>

    <div class="col-md-6 col-sm-6">
      <h4>
        El grupo RH
      </h4>
      <p>El grupo RH se divide en Rh positivo y Rh negativo.</p>
      <p>Las personas con Rh positivo sólo pueden donar sangre a las personas con Rh positivo, mientras que las personas con Rh negativo pueden donar sangre a todo el mundo, tanto con Rh positivo como negativo.</p>
    </div>
  </div>

  <div class='row'>
    <h4 class='text-center'>
      Al combinar estos dos sistemas podemos llegar a una clasificación más detallada de los diferentes tipos de sangre: A+, A-, B+, B-, AB+, AB-, O+ y O-.
    </h4>
  </div>

  <div class="row">
    <h4>
      <b>Compatibilidades</b>
    </h4>
    <p>A continuación se muestra una tabla especificando compatibilidades de sangre, glóbulos rojos y plasma entre donantes y receptores:</p>
  </div>

  <div class="row">
    <div class="visible-lg">
      <img src="../../img/tabla-gs.png" class="img-responsive center-block">
    </div>
    <div class="hidden-lg">
      <div class="col-md-4">
        <img src="../../img/tabla-gs1.png" class="img-responsive center-block">
      </div>
      <div class="col-md-4">
        <img src="../../img/tabla-gs2.png" class="img-responsive center-block">
      </div>
      <div class="col-md-4">
        <img src="../../img/tabla-gs3.png" class="img-responsive center-block">
      </div>
    </div>
  </div>

</div>
