<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 text-center">
        <h1 class="jumbotron-title">Manos por gotas</h1>
        <h3 class="jumbotron-subtitle text-uppercase">Sistema de donación de sangre</h3>

        <p>
          <a href="" class="btn btn-lg jumbotron-button" ng-click="openLoginModal()" ng-hide="currentUser != null">
            <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
            &nbsp;&nbsp;Ingresá ahora
          </a>
          <a ui-sref="dashboard.perfil" class="btn btn-lg jumbotron-button" ng-show="currentUser != null">
            <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
            &nbsp;&nbsp;Ingresá ahora
          </a>
        </p>
      </div>

      <div class="col-md-4 col-sm-4">
        <img class="img-responsive center-block" src="../../img/home-color.png">
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-book" aria-hidden="true"></i>
        &nbsp;Registro de donación
      </h4>
      Tomá nota y llevá contigo tu propio registro de donaciones.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
        &nbsp;Doná vida
      </h4>
      Conocé la historia de las personas que necesitan tu ayuda. Puedes salvar hasta 4 vidas con tu donación.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        &nbsp;Eventos
      </h4>
      Informate sobre las colectas y talleres organizados por nosotros. ¡Muchos están cerca tuyo!
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-key" aria-hidden="true"></i>
        &nbsp;Verificá tu donación
      </h4>
      Confirmá las donaciones que has realizado para obtener beneficios y distinciones.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        &nbsp;Informate y preguntá
      </h4>
      Conocé los requisitos, mitos y preguntas frecuentes sobre la donación de sangre.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-hospital-o" aria-hidden="true"></i>
        &nbsp;Centros de donación
      </h4>
      Ubicate y encontrá un lugar para donar y salvar vidas. ¡No pierdas la oportunidad!
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        &nbsp;Recordatorios de donación
      </h4>
      ¡Que no se te pase un sólo día! Te avisaremos cuando puedas volver a donar.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-ambulance" aria-hidden="true"></i>
        &nbsp;Ayudanos a ayudar
      </h4>
      Realizá solicitudes para un conocido o familiar y difundí su historia.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        &nbsp;Mantené tu privacidad
      </h4>
      Compartí tu información personal con los demás, sólo si lo deseas.
    </div>

  </div>
</div>
