<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-magic hidden-xs hidden-sm" aria-hidden="true"></span>
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;</span>
          Mitos y creencias
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Estos son algunos rumores sobre la donación de sangre que puedes haber escuchado</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="items-container">
    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        La sangre sólo se necesita cuando hay un <b>desastre o una guerra</b>.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        La sangre se necesita <b>todos los días</b>. Nadie está exento de necesitar transfusiones debido a enfermedades comunes como el dengue hemorrágico, la anemia, o condiciones de cáncer como la leucemia entre otras.
      </p>
      <p class="text-justify">
        También la sangre es necesaria para cirugías cardiovasculares, cesáreas, transplante de órganos, accidentes y otras condiciones.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Si tengo <b>tatuajes o perforaciones</b> en el cuerpo no puedo donar sangre.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        Toda persona con tatuajes o perforaciones en el cuerpo pueden donar sangre después de un año de habérselos hecho, ya que a partir del año y con los estudios que se le hace a la sangre donada se puede detectar cualquier condición que pueda tener el donante a raíz de algún tatuaje o perforación.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Para donar sangre hay que estar en <b>ayuno</b>.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        No es necesario estar en ayuna para poder donar sangre. Es más, te recomendamos que vengas desayunado y especialmente en épocas calurosas bebe líquido antes y después de donar.  El único ayuno que se recomienda es 4 horas antes de la donación y es sólo de alimentos grasosos.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        El proceso es <b>doloroso</b>.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        El proceso no es doloroso y además es rápido. La extracción se hace a través de una pequeña zona de la piel con el uso de una aguja.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Me puedo contagiar el <b>VIH u otra enfermedad</b> por donar sangre.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        Totalmente <b>FALSO</b>. No se puede contagiar <b>NINGUNA ENFERMEDAD</b> por hacer una donación de sangre. Todo el material que se emplea en la donación es nuevo, de un sólo uso y totalmente estéril.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Donar sangre <b>engorda o adelgaza</b>.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        Donar sangre <b>no afecta el peso corporal</b>. Quien participa en la donación se le extrae una cantidad alrededor de 450-480 ml. de sangre, una cantidad que no provoca ningún tipo de cambio en el cuerpo humano.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Donar sangre <b>debilita</b>.
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        El organismo se encarga de reponer la sangre y al día siguiente el volumen vuelve a nivel normal.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Se pierde <b>mucho tiempo</b> donando sangre.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        Donar sangre es un gesto <b>sencillo y rápido</b>. Solo hay que llenar un cuestionario que sirve para proteger tanto tu salud como la del receptor de la sangre. Tras una entrevista con un médico, se pasa a la extracción que dura menos de 10 minutos.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Las personas con <b>diabetes, lípidos en sangre o hipertensión</b> (presión arterial alta), no pueden donar sangre.
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        Los pacientes que son dependientes de insulina no pueden donar sangre; pero los que toman medicamentos y están controlados, al igual que las personas con afecciones cardiacas sin síntomas, sin restricciones médicas, pueden donar sangre sin ningún problema.
      </p>
    </div>

    <div class="items" style="border: solid #7e7e7e 2px; border-radius: 10px">
      <h4 style="margin-top: 5px">
        <span class="fa fa-times"></span>
        &nbsp;Mito
      </h4>
      <p class="text-justify">
        Las personas <b>mayores de edad</b> no pueden donar sangre
      </p>
      <h4>
        <span class="fa fa-check"></span>
        &nbsp;Realidad
      </h4>
      <p class="text-justify">
        La edad máxima para donar sangre es de <b>65 años</b>; si la persona tiene una excelente condición de salud está listo para donar sangre.
      </p>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">
      Ahora que ya lo sabes, ¿te animás a convertirte en el héroe de alguien más?
    </h4>
  </div>
</div>
