<nav class="navbar navbar-home">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home.inicio">
          <i class="fa fa-tint fa-xs" aria-hidden="true"></i>&nbsp;Manos por gotas
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a ui-sref="home.inicio">
              <i class="fa fa-home" aria-hidden="true"></i>
              &nbsp;Inicio
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li style="margin-right: 3px">
            <a ui-sref="home.login">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              &nbsp;Iniciar sesión
            </a>
          </li>

          <li>
            <a type="button" ui-sref="home.registro" class="btn btn-default btn-registro-home">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              &nbsp;Registrarse
            </a>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>

<div name="homeContent" ui-view></div>
