<nav class="navbar navbar-home">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false" style="height: 30px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
        <a ui-sref="home.inicio">
          <img style="margin-top: 10px; margin-right: 25px" src="../../img/manosxgotas-titulo.png">
        </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav" style="height: 50px; border-left: 1px solid #E1373E">
          <li>
            <a ui-sref="home.inicio">
              <i class="fa fa-home" aria-hidden="true"></i>
              &nbsp;Inicio
            </a>
          </li>

          <li class="dropdown">
            <a ui-sref="home.inicio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tint" aria-hidden="true"></i>
              &nbsp;Sangre
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </li>

          <li class="dropdown">
            <a ui-sref="home.inicio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
              &nbsp;¿Cómo donar?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </li>

          <li>
            <a ui-sref="home.inicio">
              <i class="fa fa-edit" aria-hidden="true"></i>
              &nbsp;Solicitudes donación
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" style="border-left: 1px solid #E1373E">
          <li style="margin-right: 3px">
            <a href="" ng-click="openLoginModal()">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              &nbsp;Iniciar sesión
            </a>
          </li>

          <li>
            <a type="button" ui-sref="home.registro" class="btn btn-default btn-registro-home">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              &nbsp;Registrarse
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>

<div name="homeContent" ui-view></div>

<footer class="footer footer-home">
  <div class="container text-center" style="padding-top: 50px; padding-bottom: 50px">

    <div class="row">
      <img src="../../img/tecnologias/angular.png">
      <img src="../../img/tecnologias/bootstrap.png">
      <img src="../../img/tecnologias/django.png">
      <img src="../../img/tecnologias/postgresql.png">
    </div>

    <div class="row">
      <div class="hidden-md hidden-lg">
        <a target="_blank" href="https://github.com/manosxgotas">
          <img src="../../img/tecnologias/github-color.png">
        </a>
      </div>
      <div style="margin-top: 10px" class="visible-md visible-lg">
        <a target="_blank" href="https://github.com/manosxgotas">
          <img src="../../img/tecnologias/github-color.png">
        </a>
      </div>
    </div>

  </div>
</footer>
