<nav class="navbar navbar-home">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-home-collapse" aria-expanded="false" style="height: 30px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
        <a ui-sref="home.inicio">
          <img class="visible-lg nav-img" src="../../img/manosxgotas-titulo.png">
          <img class="hidden-lg nav-img" src="../../img/manosxgotas-titulo-sm.png">
        </a>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-home-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a ui-sref="home.inicio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-tint hidden-xs hidden-sm" aria-hidden="true"></i>
              <span class="hidden-xs hidden-sm">&nbsp;</span>Sangre
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a ui-sref="home.sangre">
                  ¿Qué es la sangre?
                </a>
              </li>
              <li>
                <a ui-sref="home.sangre-funcion">
                  Funciones de la sangre
                </a>
              </li>
              <li role="separator" class="divider hidden-xs hidden-sm"></li>
              <li>
                <a ui-sref="home.grupos-sanguineos">
                  Grupos sanguíneos
                </a>
              </li>
              <li>
                <a ui-sref="home.tratamiento-sangre">
                  Tratamiento de la sangre
                </a>
              </li>
              <li>
                <a href="../../docs/ley-sangre.pdf">
                  Ley nacional de sangre
                </a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a ui-sref="home.inicio" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-list-ol hidden-xs hidden-sm" aria-hidden="true"></i>
              <span class="hidden-xs hidden-sm">&nbsp;</span>¿Cómo donar?
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a ui-sref="home.quienes-donan">
                  ¿Quiénes pueden donar?
                </a>
              </li>
              <li>
                <a ui-sref="home.donde-donar">
                  ¿Dónde donar?
                </a>
              </li>
              <li>
                <a ui-sref="home.recomendaciones">
                  Recomendaciones
                </a>
              </li>
              <li>
                <a ui-sref="home.mitos">
                  Mitos y creencias
                </a>
              </li>
              <li role="separator" class="divider hidden-xs hidden-sm"></li>
              <li>
                <a ui-sref="home.proceso-donacion">
                  Proceso de donación
                </a>
              </li>
            </ul>
          </li>

          <li class="alter-option">
            <a ui-sref="home.listado-solicitudes">
              <i class="fa fa-edit hidden-xs hidden-sm" aria-hidden="true"></i>
              <span class="hidden-xs hidden-sm">&nbsp;</span>Solicitudes
            </a>
          </li>

          <li class="alter-option">
            <a ui-sref="home.quienes-somos">
              <i class="fa fa-group hidden-xs hidden-sm" aria-hidden="true"></i>
              <span class="hidden-xs hidden-sm">&nbsp;</span>¿Quiénes somos?
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="currentUser != null">

          <li>
            <a type="button" ui-sref="dashboard.perfil" class="btn btn-default btn-registro-home">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span class="hidden-md">&nbsp;Mi dashboard</span>
            </a>
          </li>
          <li>
            <a href="" ng-click="logoff()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span class="hidden-md">&nbsp;Cerrar sesión</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-hide="currentUser != null">
          <li>
            <a href="" ng-click="openLoginModal()">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <span class="hidden-md">&nbsp;Iniciar sesión</span>
            </a>
          </li>

          <li>
            <a type="button" href="" ng-click="openRegistroModal()" class="btn btn-default btn-registro-home">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span class="hidden-md">&nbsp;Registrarse</span>
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>

<div class="home-container">
  <div name="homeContent" ui-view ng-hide="loading"></div>
  <div style="padding-top: 30px;" class="text-center" id="loading-bar-container" ng-show="loading"></div>
</div>


<footer class="footer footer-home">
  <div class="container text-center" style="padding-top: 50px; padding-bottom: 50px">

    <div class="row">
      <img src="../../img/tecnologias/angular.png">
      <img src="../../img/tecnologias/bootstrap.png">
      <img src="../../img/tecnologias/django.png">
      <img src="../../img/tecnologias/postgresql.png">
    </div>

    <div class="row">
      <div class="hidden-md hidden-lg">
        <a target="_blank" href="https://github.com/manosxgotas">
          <img src="../../img/tecnologias/github-color.png">
        </a>
      </div>
      <div style="margin-top: 10px" class="visible-md visible-lg">
        <a target="_blank" href="https://github.com/manosxgotas">
          <img src="../../img/tecnologias/github-color.png">
        </a>
      </div>
    </div>

  </div>
</footer>
