<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-heartbeat hidden-xs hidden-sm" aria-hidden="true"></span>
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;</span>
          Proceso de donación
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">La donación de sangre es un proceso que implica diversos pasos</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="text-center">
      <i>
        "Los pasos dentro del proceso de donación tienen una explicación y una secuencia establecida especialmente pensada para reforzar la seguridad del donante y del receptor"
      </i>
    </h4>
  </div>

    <div class="row">
      <h4>
        <span class="fa fa-male"></span>
        &nbsp;Recepción del donante
      </h4>
      <p class="text-justify">
        Cuando un <b>donante</b> se presenta en el <b>centro de donación</b>, en la sala de espera le entregan <b>información pre-donación</b> que incluye la descripción de los estudios que se le harán a la sangre.
      </p>
      <p class="text-justify">
        Se le informa al futuro donante que ante <b>resultados irregulares</b> recibirá un llamado para estudios confirmatorios y que, de resultar positivos, se le indicará una derivación para su <b>atención médica</b>.
      </p>
      <p class="text-justify">
        La información pre-donación permite una <b>auto-exclusión</b> por parte del donante, es decir que, en caso de no querer hacerse los mencionados estudios o de no cumplir con las condiciones establecidas, podrá <b>decidir no donar</b> y retirarse.
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-thumbs-o-up"></span>
        &nbsp;Admisión
      </h4>
      <p class="text-justify">
        Si el donante no se auto-excluye y <b>decide seguir</b>, pasa a registrarse en el área administrativa correspondiente, con sus <b>datos personales</b> (nombre y apellido, domicilio, documento de identidad, lugar de nacimiento, entre otros).
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-edit"></span>
        &nbsp;Entrevista médica
      </h4>
      <p class="text-justify">
        En la entrevista <b>el profesional indaga acerca de su última donación o si es la primera vez que dona</b>, si desayunó bien para evitar cualquier malestar, si está tomando medicamentos, si tiene alergias o tuvo últimamente algún tratamiento odontológico o extracción de piezas dentales, si tuvo alguna cirugía, si consume drogas, si sufre de alguna enfermedad infecciosa, cardiovascular, respiratoria, gastrointestinal, hematológica o neurológica, si perdió peso de forma notoria en los últimos meses, si sufre de desmayos o lipotimias.
      </p>
      <p class="text-justify">
        Asimismo se lo consulta acerca de sus <b>prácticas sexuales</b> a los fines de saber cuán expuesto, o no, pudo estar el donante a contraer infecciones que se transmiten por la sangre. También se lo interroga sobre sus <b>viajes</b> para descartar la posibilidad de haber estado en contacto con agentes infecciosos de zonas endémicas.
      </p>
      <p class="text-justify">
        Si el <b>donante no califica</b> clínicamente por alguna razón, se le explican las razones por las cuales se lo difiere de la donación ya sea permanente o transitoriamente y se le agradece su gesto. En algunos casos en que se lo deba diferir por un tiempo, hasta tanto se recupere, por ejemplo, de alguna afección circunstancial se le indicará a partir de qué momento puede volver a donar sangre.
      </p>
      <p class="text-justify">
        En otros casos, se lo puede excluir de modo <b>definitivo</b> y se le solicitará que <b>siga colaborando con la causa</b> de la donación voluntaria de sangre a través de su difusión.
      </p>
      <p class="text-justify">
        Es frecuente que se le sugiera, si trabaja en alguna institución escolar o empresa, que <b>promueva</b> que la misma abra sus puertas a los centros de donación para hacer actividades de difusión y si hay interés, colectas de sangre en el lugar.
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-stethoscope"></span>
        &nbsp;Control de signos clínicos (temperatura, presión, hemoglobina)
      </h4>
      <p class="text-justify">
        El segundo paso de la calificación es el <b>exámen clínico</b> que consiste en tomar su peso, temperatura, pulso y presión arterial, como así también la toma de muestras de sangre para un rápido control que descarte que el donante esté anémico.
      </p>
      <p class="text-justify">
      De <b>no cumplir</b> con todos los parámetros establecidos en las normas vigentes, la persona será <b>diferida</b> por un tiempo determinado o de forma definitiva.
      </p>
      <p class="text-justify">
        Si el donante califica, pasa a la etapa siguiente.
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-tint"></span>
        &nbsp;Extracción de sangre
      </h4>
      <p class="text-justify">
        Al donante calificado se le hace una <b>extracción de una unidad de sangre</b> (corresponden a 450 mililitros) y, como ya dijimos, se toman muestras en pequeños tubos para los posteriores análisis. Este proceso dura no más de 10 minutos.
      </p>
      <p class="text-justify">
        Una vez terminada esta etapa, se le entrega al donante un <b>certificado de donación</b>.
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-thumbs-o-down"></span>
        &nbsp;Autoexclusión
      </h4>
      <p class="text-justify">
        Se le entrega un formulario de <i>“Autoexclusión confidencial”</i> donde se le da la posibilidad de expresar su voluntad de que se <b>elimine la unidad de sangre</b> que donó por considerar que <b>no es segura</b>. Si se autoexcluye, esa unidad se descarta. No obstante las muestras serán estudiadas y, de ser necesario, se contactará al donante para confirmar sus estudios.
      </p>
      <p class="text-justify">
        Esta práctica de "autoexclusión confidencial" es implementada dado que es probable que los donantes <b>omitan situaciones de riesgo</b> en la entrevista pre-donación que luego, en esta etapa privada de la consulta, pueden expresar con mayor libertad. De este modo el donante cumple con la responsabilidad de informar que su sangre no puede ser transfundida y <b>evita poner en riesgo a sus receptores</b>.
      </p>
      <p class="text-justify">
        Esta opción existe incluso para quien se haya retirado de la institución y lo quiere informar posteriormente.
      </p>
    </div>

    <div class="row">
      <h4>
        <span class="fa fa-coffee"></span>
        &nbsp;Desayuno
      </h4>
      <p class="text-justify">
        Finalmente, se lo invita al área de refrigerio donde se le brinda un desayuno, a fin de <b>recuperar líquidos y azúcar</b> en un ambiente distendido y cordial.
      </p>
    </div>
  </div>


  <div class="row">
    <h4 class="text-center">
      ¡Ante cualquier duda no dudes en consultar con tu médico!
    </h4>
  </div>

</div>

