<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-group hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;&nbsp;&nbsp;¿Quiénes somos?
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Te contamos cuáles son nuestros objetivos y las problemáticas que vemos en la sociedad</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h3>
      <u>Problemáticas</u>
    </h3>
    <h4 class="text-center">
      <i>
        "<b>Manos por Gotas</b> surge de una necesidad básica de la sociedad relacionada con la falta de donantes voluntarios de sangre, lo cual origina una escasez de hemoderivados para realizar transfusiones a pacientes que lo requieran"
      </i>
    </h4>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-question"></span>
        &nbsp;Desinformación
      </h4>
      <p class="text-justify">
        Actualmente, en muchas regiones del país, hay un <b>desconocimiento general</b> sobre el <b>proceso</b> de donación, sus <b>beneficios</b> y sobre la <b>importancia</b> de realizar este ejercicio, y no existe coordinación entre hospitales de diferentes ámbitos.
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-universal-access"></span>
        &nbsp;Falta de accesibilidad
      </h4>
      <p class="text-justify">
        Los centros de salud no proveen a los donantes <b>acceso a un registro de sus donaciones</b> por lo que los mismos no pueden realizar un seguimiento apropiado de las visitas a los diferentes establecimientos.
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-newspaper-o"></span>
        &nbsp;Difusión precarizada
      </h4>
      <p class="text-justify">
        Los medios actuales para la difusión de la necesidad de transfusiones de sangre <b>no son óptimos</b> y esto muchas veces ocasiona que la misma sea <b>ignorada</b> o pase <b>desapercibida</b>.
      </p>
    </div>
  </div>
  <div class="row">
      <h3>
        <u>Objetivos</u>
      </h3>

    <h4 class="text-center">
      <i>
        "Juntos queremos conformar algo similar al <b>Club 25</b>, una agrupación de la Cruz Roja que organiza a jóvenes en torno a la promoción de estilos de vida sano entre la población juvenil con el propósito de salvar vidas mediante la donación de sangre segura"
      </i>
    </h4>

  <div class="col-md-4 col-sm-6">
    <h4>
      <span class="fa fa-info-circle"></span>
      &nbsp;Información centralizada
    </h4>
    <p class="text-justify">
      Uno de nuestros objetivos es <b>reunir toda la información necesaria</b> sobre el proceso de donación para otorgarle a la comunidad <b>fácil acceso</b> a la misma y <b>simplificar</b> la realización de este ejercicio.
    </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h4>
      <span class="fa fa-book"></span>
      &nbsp;Libreta de donaciones
    </h4>
    <p class="text-justify">
      Le ofrecemos al donante la posibilidad de mantener un <b>registro de las donaciones</b> realizadas permitiendo portabilidad de esta información, que la misma sea <b>de su propiedad</b> y que pueda <b>acceder a ella</b> cuando quiera.
    </p>
  </div>

  <div class="col-md-4 col-sm-6">
    <h4>
      <span class="fa fa-bullhorn"></span>
      &nbsp;Alcance masivo
    </h4>
    <p class="text-justify">
      Ayudamos a <b>difundir</b> la historia de la persona que espera una transfusión de sangre transmitiendola a <b>donantes compatibles</b> y generando empatía a través de <b>contenido multimedia</b>.
    </p>
  </div>

  <div class="col-md-4 col-md-offset-1 col-sm-6">
    <h4>
      <span class="fa fa-chain"></span>
      &nbsp;Red de donantes
    </h4>
    <p class="text-justify">
      Pretendemos <b>unir a personas</b> de todos los ámbitos, padres, hijos, abuelos, estudiantes, trabajadores, amigos, personas comunes juntas por un solo objetivo, <b>ayudar a los demás</b> a través de la donación altruista de sangre.
    </p>
  </div>

  <div class="col-md-4 col-md-offset-1 col-sm-6">
    <h4>
      <span class="fa fa-calendar"></span>
      &nbsp;Organización de eventos
    </h4>
    <p class="text-justify">
      En el sitio encontrarás información sobre los diferentes <b>eventos de colecta de sangre</b> (horarios, ubicación y categoría) junto con contenido multimedia.
    </p>
  </div>

  </div>
  <h4 class="text-center">
    <i>
      "La motivación del donante regular de sangre es únicamente el hecho de ayudar a los demás por un sentido de deber moral o responsabilidad social"
    </i>
  </h4>
</div>

