<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-users hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;&nbsp;&nbsp;¿Quiénes pueden donar?
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">A continuación te explicamos los requisitos necesarios para poder donar</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="text-center">
      <i>
        "Es necesario cumplir con una serie de requisitos antes de poder donar"
      </i>
    </h4>
    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-history"></span>
        &nbsp;Edad
      </h4>
      <p>
        Debes tener entre 18 y 65 años de edad (A partir de los 16 años con autorización de los padres o tutores; los mayores de 65 años con autorización médica).
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-clock-o"></span>
        &nbsp;Tiempo entre donaciones
      </h4>
      <p>
        Si eres hombre deben haber transcurrido al menos 2 meses desde tu última donación, en cambio si eres mujer debes esperar al menos 3 meses.
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-bug"></span>
        &nbsp;Enfermedades
      </h4>
      <p>
        Tenes hipertensión controlada, problemas tiroideos o alérgicos sin manifestación en ese momento; si padeciste hepatitis antes de los 12 años, o mononucleosis.
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-medkit"></span>
        &nbsp;Medicación
      </h4>
      <p>
        En caso de que tomes alguna medicación, deberás informarlo al médico antes de donar.
      </p>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-balance-scale"></span>
        &nbsp;&nbsp;Peso
      </h4>
      <p>
        Tu peso no debe ser inferior a los 50 kgs. Consulta con tu médico antes de asistir al centro de donación.
      </p>
    </div>


    <div class="col-md-4 col-sm-6">
      <h4>
        <span class="fa fa-heart"></span>
        &nbsp;¡Ganas de ayudar a los demás!
      </h4>
      <p>
        ¡Te necesitamos para salvar muchas vidas! Con cada donación que realices puedes salvar hasta 4 vidas.
      </p>
    </div>

  </div>


  <div class="row">
    <h4 class="text-center">
      ¡Ante cualquier duda no dudes en consultar con tu médico!
    </h4>
  </div>

</div>

