<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-users hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;&nbsp;&nbsp;¿Quiénes pueden donar?
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Puedes donar si... Gozas de buena salud</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4 class="text-center">
      <i>
        "Es necesario cumplir con una serie de requisitos antes de poder donar"
      </i>
    </h4>
    <div class="col-md-4 col-sm-6">

      <h4>
        Edad
      </h4>
      Debes tener entre 18 y 65 años de edad (los menores de 18 y hasta 16 años lo pueden hacer con autorización de los padres o tutores; los mayores de 65 años con autorización médica).
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        Tiempo entre donaciones
      </h4>
      Si eres hombre deben haber transcurrido al menos 2 meses desde tu última donación, en cambio si eres mujer debes esperar al menos 3 meses.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        Enfermedades
      </h4>
      Tenes hipertensión controlada, problemas tiroideos o alérgicos sin manifestación en ese momento; si padeciste hepatitis antes de los 12 años, o mononucleosis.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        Medicación
      </h4>
      En caso de que tomes alguna medicación, deberás informarlo sl médico antes de donar.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        Peso
      </h4>
      Tu peso no debe ser inferior a los 50 kgs.
    </div>



  </div>


  <div class="row">
    <h4 class="text-center">
      ¡Ante cualquier duda no dudes en consultar con tu médico!
    </h4>
  </div>

</div>

