<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-check-square-o hidden-xs hidden-sm" aria-hidden="true"></span>
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;</span>
          Recomendaciones
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Lee estos tips para tener la mejor experiencia posible en los centro de donación</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      <i>
        "Para poder realizar tu donación debes tener en cuenta un conjunto de factores para no tener ningún inconveniente"
      </i>
    </h4>

    <div class="col-md-4 col-sm-6">
      <h4>
        <b>Antes de donar</b>
      </h4>
      <ul class="fa-ul">
        <li><p><i class="fa fa-li fa-question-circle"></i>Si tienes alguna duda, no dejes de consultar con el equipo médico.</p></li>
        <li><p><i class="fa fa-li fa-book"></i>No olvides llevar tu DNI, pasaporte o cédula.</p></li>
        <li><p><i class="fa fa-li fa-apple"></i>No vayas en ayunas.</p></li>
        <li><p><i class="fa fa-li fa-clock-o"></i>Recuerda que al menos deben transcurrir dos meses entre cada donación si eres hombre y 3 meses si eres mujer.</p></li>
        <li><p><i class="fa fa-li fa-tint"></i>Si eres hombre podes donar un máximo de 4 veces al año y si eres mujer 3 veces al año.</p></li>
        <li><p><i class="fa fa-li fa-futbol-o"></i>Si realizaste esfuerzo físico prolongado o violento, o has estado expuesto al sol o a temperaturas altas de forma prolongada, avisa al personal que te atiende.</p></li>
        <li><p><i class="fa fa-li fa-futbol-o"></i>Si luego de donar tienes que realizar esfuerzos físicos o actividades consideradas potencialmente peligrosas no es conveniente que dones.</p></li>
        <li><p><i class="fa fa-li fa-bed"></i>Debes estar bien descansado, haber dormido por lo menos 6 horas.</p></li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <b>Durante la donación</b>
      </h4>
      <h5>Durante las 6 horas siguientes de la donación:</h5>
      <ul class="fa-ul">
        <li><p><i class="fa fa-li fa-user-md"></i>Trata de estar tranquilo y confía en el equipo de salud que te atiende.</p></li>
        <li><p><i class="fa fa-li fa-random"></i>Respira normal y tranquilamente.</p></li>
        <li><p><i class="fa fa-li fa-user-times"></i>Cualquier cambio o molestia que percibas, comunícaselo al personal que lo atiende.</p></li>
      </ul>
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <b>Después de donar</b>
      </h4>
      <ul class="fa-ul">
        <li><p><i class="fa fa-li fa-spin fa-refresh"></i>Evita situaciones que te produzcan mareos como cambios bruscos de posición. Si esto ocurre, ponte en posición horizontal y levanta ligeramente las piernas.</p></li>
        <li><p><i class="fa fa-li fa-beer"></i>No ingieras alcohol.</p></li>
        <li><p><i class="fa fa-li fa-fire"></i>No fumes (sobre todo en las primeras 2 horas).</p></li>
        <li><p><i class="fa fa-li fa-flask"></i>Trata de tomar abundante líquido.</p></li>
        <li><p><i class="fa fa-li fa-futbol-o"></i>No realices esfuerzos físicos.</p></li>
        <li><p><i class="fa fa-li fa-sun-o"></i>No te expongas al sol o a temperaturas elevadas de forma prolongada.</p></li>
        <li><p><i class="fa fa-li fa-hospital-o"></i>No abandones el lugar de colecta si no te sientes bien y avisa al personal que te atendió.</p></li>
      </ul>
    </div>

    <br>

  </div>
  <div class="row">
    <h4 class="text-center">
        ¡Estas recomendaciones quieren contribuir a que tu donación sea un acto seguro, confortable y gratificante!
    </h4>
  </div>
</div>
