<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-tint hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;¿Qué es la sangre?
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">La sangre es un tejido renovable del cuerpo humano</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      <i>
        "La sangre es un tejido con estructura de líquido viscoso que fluye a través del organismo por un circuito cerrado de vasos llamados arterias, venas y capilares"
      </i>
    </h4>
    <div class="col-md-4 col-sm-6">

      <h4>
        <i class="fa fa-heart" aria-hidden="true"></i>
        &nbsp;Funciones vitales
      </h4>
      Nos permite respirar, formar sustancias, defenderse de agresiones, entre otras.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-user" aria-hidden="true"></i>
        &nbsp;Cada persona es distinta
      </h4>
      La cantidad de sangre de una persona está en relación con su edad, peso, sexo y altura.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        &nbsp;&nbsp;Es proporcional
      </h4>
      Representa el 7% del peso corporal: Aproximadamente 5 litros en una persona que pese 65 Kg.
    </div>

    <br>
  </div>

  <div class="row">
    <h4 class="text-center">
      El recorrido que realiza la sangre se denomina <b>circulación sanguínea</b>. Hay dos distintas, la pulmonar y la sistémica, siendo el corazón el que actúa como bomba de ambas.
    </h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <i class="fa fa-random" aria-hidden="true"></i>
        &nbsp;Circulación pulmonar
      </h4>
      La sangre es enviada a los pulmones donde se oxigena (deja anhídrido carbónico y recoge oxígeno) regresando al corazón.
    </div>


    <div class="col-md-6">
      <h4>
        <i class="fa fa-retweet" aria-hidden="true"></i>
        &nbsp;Circulación sistémica
      </h4>
      Desde el corazón, la sangre es enviada a través de las arterias por todo el cuerpo (liberando oxígeno y los nutrientes a la vez que recoge al anhídrido carbónico y los productos de desecho), retornando por las venas al corazón.
    </div>
  </div>

</div>
