<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-question-circle hidden-xs hidden-sm" aria-hidden="true"></span>
          &nbsp;&nbsp;Funciones de la sangre
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Son fundamentales para el buen estado del cuerpo</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      <i>
        "Para cumplir con todas sus <b>funciones</b>, la sangre cuenta con diferentes <b>tipos de células</b> suspendidas en el plasma"
      </i>
    </h4>


    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-random" aria-hidden="true"></i>
        &nbsp;Respiratoria
      </h4>
      Transporta el oxígeno desde los pulmones hasta las células y el anhídrido carbónico hasta los pulmones.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-apple" aria-hidden="true"></i>
        &nbsp;Nutritiva
      </h4>
      Transporta sustancias nutritivas (glucosa, sales, agua) provenientes de la digestión.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-trash" aria-hidden="true"></i>
        &nbsp;Excretora
      </h4>
      Recoge los residuos y desechos del organismo para que los mismos sean eliminados.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-shield" aria-hidden="true"></i>
        &nbsp;Defensiva
      </h4>
      Protege al organismo contra las posibles enfermedades que podemos contraer.
    </div>

    <div class="col-md-4 col-sm-6">
      <h4>
        <i class="fa fa-balance-scale" aria-hidden="true"></i>
        &nbsp;&nbsp;Reguladora
      </h4>
      Mantiene en equilibrio el agua del organismo y la temperatura corporal.
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">
      Todas las células que componen la sangre se fabrican en la <b>médula ósea</b>, la misma se encuentra en el tejido esponjoso de los <b>huesos planos</b> (cráneo, vértebras, esternón, crestas ilíacas) y en los <b>canales medulares</b> de los huesos largos (fémur, húmero).
    </h4>
  </div>

  <div class="row">
    <h4 class="text-center">
      La médula ósea se encuentra fabricando, durante toda la vida, células sanguíneas ya que éstas tienen un tiempo limitado de vida. Esta “fábrica”, ante determinadas situaciones de salud, puede aumentar su producción en función de las necesidades.
    </h4>
  </div>

</div>
