<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-edit hidden-xs hidden-sm" aria-hidden="true"></span>
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;&nbsp;</span>Solicitudes de donación
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Aquí puedes observar las solicitudes de donaciones de nuestros usuarios a conocidos y familiares que lo necesitan</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      <i>
        "Si te unes a Manos por gotas además de poder visualizar y compartir estas solicitudes de donación, ¡también podrás crearlas para algún conocido, familiar o amigo tuyo!"
      </i>
    </h4>

  </div>
  <div class="row">

    <div class="content" ng-show="solicitudes.length == 0">
      Actualmente no hay ninguna solicitud
    </div>
    <div class="content eventos-container" ng-show="solicitudes.length > 0">
      <div class="row">
        <div class="items-container" style="padding: 0 10px">
          <div class="items" ng-repeat="solicitud in solicitudes" style="border: solid 2px #c0c0c0; border-radius: 10px; padding: 10px 10px">
            <div class="hidden-xs pull-right">
              <span popover-trigger="mouseenter" popover-placement="bottom" uib-popover="Se solicitan {{solicitud.donantesNecesarios}} donantes, grupos: {{solicitud.gruposSanguineos}}" class="btn btn-fill btn-danger" style="cursor: default;margin-right: 20px;">
                <span class="fa fa-group"></span>&nbsp;{{solicitud.donantesNecesarios}}
              </span>
            </div>
            <h4 class="title" style="margin-top: 5px">
              <a style="color: rgb(51, 51, 51)" href="" data-toggle="collapse" data-target="#collapseInfo{{solicitud.id}}">
                {{solicitud.titulo}}
                <b class="caret"></b>
              </a>
            </h4>

            <div class="collapse in" id="collapseInfo{{solicitud.id}}">
              <ul class="fa-ul" style="margin-top: 5px">
                <li>
                  <i class="fa-li fa fa-hourglass-start"></i>
                  <b class="text-danger">Inicio:</b> {{solicitud.fechaHoraInicio | date:'dd/MM/yyyy'}} {{solicitud.fechaHoraInicio | date:'HH:mm'}} hs.
                </li>
                <li>
                  <i class="fa-li fa fa-hourglass-end"></i>
                  <b class="text-danger">Finalización:</b> {{solicitud.fechaHoraFin | date:'dd/MM/yyyy'}} {{solicitud.fechaHoraFin | date:'HH:mm'}} hs.
                </li>
                <li>
                  <i class="fa-li fa fa-hospital-o"></i>
                  {{solicitud.centroDonacion.nombre}}
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span class="loading">
                  <i style="width: 100%" class="fa fix fa-spin fa-refresh fa-3x fa-fw"></i>
                </span>
                <img style="padding: 10px 10px; max-height: 300px" ng-src="{{portada[solicitud.id] ? portada[solicitud.id].imagen : '../../img/solicitud-defecto.png'}}" img-preload class="img-responsive center-block">
              </div>
            </div>
            <hr>
            <div class="hidden-xs pull-left">
              <span popover-trigger="mouseenter" popover-placement="top" uib-popover="{{estado[solicitud.id].nombre}}" class="btn btn-{{estado[solicitud.id].color}}" style="cursor: default;">
                <span class="fa {{estado[solicitud.id].icono}}"></span>
              </span>
            </div>
            <div class="visible-xs pull-left">
              <span popover-trigger="mouseenter" popover-placement="top-left" uib-popover="Se solicitan {{solicitud.donantesNecesarios}} donantes, grupos: {{solicitud.gruposSanguineos}}" class="btn btn-fill btn-danger" style="cursor: default;margin-right: 20px;">
                <span class="fa fa-group"></span>&nbsp;{{solicitud.donantesNecesarios}}
              </span>
            </div>
            <div class="pull-right">
              <a href="" ui-sref="home.detalle-solicitud({solicitudID: solicitud.id})" class="btn btn-danger">
                <span class="fa fa-info-circle"></span>
                <span class="hidden-xs">Leer más</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
