<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h1 class="jumbotron-title">
          <span class="fa fa-user-md hidden-xs hidden-sm" aria-hidden="true"></span>
          <span class="hidden-xs hidden-sm">&nbsp;&nbsp;</span>Tratamiento de la sangre
        </h1>
        <h3 class="jumbotron-subtitle text-uppercase">Todos los procesos realizados sobre la sangre extraída</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <h4 class="text-center">
      Los tubos que se han extraído durante la donación, se envían al laboratorio de validación. Para analizar cada tubo, se le aplicará una prueba diferente.
    </h4>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h4>
        <i class="fa fa-question" aria-hidden="true"></i>
        &nbsp;&nbsp;Grupo sanguíneo
      </h4>
      <p>
        Se debe determinar el grupo ABO y el RH del donante para continuar con el procedimiento.
      </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <h4>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        &nbsp;&nbsp;¿Es segura?
      </h4>
      <p>
        Se debe garantizar que la sangre que se ha extraído está en perfecto estado para ser transfundida.
      </p>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">
      Para conseguirlo, se aplicarán un conjunto de pruebas para descartar enfermedades infecciosas como <b>HIV o Hepatitis</b>.
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h4>
        1. Separación de componentes
      </h4>
      <p>
        Las bolsas de sangre se introducen en una centrifugadora que gira a gran velocidad, para <b>separar por densidad los diferentes componentes sanguíneos</b>: el <b>plasma</b> queda en la parte superior, la <b>capa leucoplaquetar</b> en el centro y los <b>hematíes</b> en la parte inferior.
      </p>
    </div>

    <div class="col-md-6 col-lg-6">
      <h4>
        2. Distribución de componentes
      </h4>
      <p>
        Cuando tenemos la bolsa separada en los tres niveles de densidad, se coloca en una máquina encargada de <b>distribuir cada componente a una bolsa diferente</b>.
      </p>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">
      Como resultado del proceso se obtiene: 1 bolsa de glóbulos rojos o hematíes, 1 bolsa de plasma y 1 bolsa de plaquetas.
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <h4>
        <i class="fa fa-archive" aria-hidden="true"></i>
        &nbsp;&nbsp;Almacenamiento
      </h4>
      <p>
        Las bolsas se guardan en cámaras frigoríficas, hasta que los resultados del laboratorio aseguren que es apta para suministrar.
      </p>
    </div>
    <div class="col-md-6 col-lg-6">
      <h4>
        <i class="fa fa-tags" aria-hidden="true"></i>
        &nbsp;&nbsp;Identificación
      </h4>
      <p>
        Cada bolsa se etiqueta indicando su fecha de caducidad y su grupo sanguíneo.
      </p>
    </div>
  </div>

  <div class="row">
    <h4 class="text-center">
      Las bolsas de <b>hematíes</b> se guardan en una heladera a 4 grados centígrados y <b>duran 42 días</b>.
      El <b>plasma</b> se guarda congelado a 30 grados centígrados bajo cero y <b>dura 1 año</b>.
      Las <b>plaquetas</b> se guardan en agitación constante a 22 grados centígrados y sólo <b>duran 5 días</b>.
    </h4>
  </div>






