<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="header">
            <h4 class="title">
              <span class="fa fa-calendar-check-o"></span>
              &nbsp;&nbsp;Listado de eventos
            </h4>
            <p class="category hidden-xs">Aquí puedes observar todos los eventos que tenemos para ofrecerte.</p>
          </div>
          <div class="content" ng-show="eventos.length == 0">
            No hay ningún evento disponible
          </div>
          <div class="content" ng-show="eventos.length > 0">
            <div class="row">
              <div class="items-container" style="padding: 0 10px">
                <div class="items" ng-repeat="evento in eventos" style="border: solid 2px #c0c0c0; border-radius: 10px; padding: 10px 10px">
                  <h4 class="title">
                    <a style="color: rgb(51, 51, 51)" href="" data-toggle="collapse" data-target="#collapseInfo{{evento.id}}">
                      {{evento.nombre}}
                      <b class="caret"></b>
                    </a>
                  </h4>

                <div class="collapse in" id="collapseInfo{{evento.id}}">
                  <ul class="fa-ul" style="margin-top: 5px">
                    <li>
                      <i class="fa-li fa fa-hourglass-start"></i>
                      <b class="text-danger">Inicio:</b> {{evento.fechaHoraInicio | date:'dd/MM/yyyy'}} {{evento.fechaHoraInicio | date:'HH:mm'}} hs.
                    </li>
                    <li>
                      <i class="fa-li fa fa-hourglass-end"></i>
                      <b class="text-danger">Finalización:</b> {{evento.fechaHoraFin | date:'dd/MM/yyyy'}} {{evento.fechaHoraFin | date:'HH:mm'}} hs.
                    </li>
                    <li ng-repeat="lugar in evento.lugarEvento">
                      <i class="fa-li fa fa-map-marker"></i>
                      {{lugar.lugarDonacion.direccion.localidad.provincia.nombre}}, {{lugar.lugarDonacion.direccion.localidad.nombre}}, {{lugar.lugarDonacion.direccion.calle}} {{lugar.lugarDonacion.direccion.numero}}
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <span class="loading">
                        <i style="width: 100%" class="fa fix fa-spin fa-refresh fa-3x fa-fw"></i>
                    </span>
                    <img style="padding: 10px 10px; max-height: 300px" ng-src="{{portada[evento.id] ? portada[evento.id].imagen : '../../img/evento-defecto.jpg'}}" img-preload class="img-responsive center-block">
                  </div>
                </div>
                <hr>
                <div class="pull-left">
                  <span popover-trigger="mouseenter" popover-placement="top" uib-popover="{{estado[evento.id].nombre}}" class="btn btn-{{estado[evento.id].color}}" style="cursor: default;">
                    <span class="fa {{estado[evento.id].icono}}"></span>
                  </span>
                </div>
                <div class="pull-right">
                  <a href="" ui-sref="dashboard.detalle-evento({eventoID: evento.id})" class="btn btn-danger">
                    <span class="fa fa-info-circle"></span>
                    <span class="hidden-xs">Leer más</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-sm-12" ng-show="count > 10">
            <div class="text-center">
              <ul uib-pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size="maxSize" total-items="count" ng-model="currentPage" boundary-links="true" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
            </div>
          </div>
          <span class="clearfix"></span>
        </div>
      </div>
    </div>
  </div>
</div>
