<div class="card">
  <div class="row" style="margin: 0">
      <form name="solicitudForm" class="form-horizontal" ng-submit="crearSolicitud()" novalidate>
        <div class="col-sm-6">
          <div class='header' style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;'>
            <h4 class='title'>
              <span class="fa fa-user-plus fa-lg" aria-hidden="true"></span>
              &nbsp;&nbsp; Datos del paciente
            </h4>
          </div>

          <div class="content">
            <div class="form-group" ng-class="{'has-error': solicitudForm.nombrePaciente.$invalid && !solicitudForm.nombrePaciente.$pristine,
                                                'has-success has-feedback': solicitudForm.nombrePaciente.$valid}">
              <label for="nombrePaciente" class="col-sm-3 control-label">Nombre</label>
              <div class="col-sm-7">
                <input type="text" id="nombrePaciente" name="nombrePaciente" ng-model="solicitud.paciente.nombre" class="form-control"
                       placeholder="Ingrese el nombre del paciente" ng-pattern="/^([a-z ñáéíóú]{1,60})$/i" required>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': solicitudForm.apellidoPaciente.$invalid && !solicitudForm.apellidoPaciente.$pristine,
                                                'has-success has-feedback': solicitudForm.apellidoPaciente.$valid}">
              <label for="apellidoPaciente" class="col-sm-3 control-label">Apellido</label>
              <div class="col-sm-7">
                <input type="text" id="apellidoPaciente" name="apellidoPaciente" ng-model="solicitud.paciente.apellido" class="form-control"
                       placeholder="Ingrese el apellido del paciente" ng-pattern="/^([a-z ñáéíóú]{1,60})$/i" required>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error': solicitudForm.correo.$invalid && !solicitudForm.correo.$pristine,
                                             'has-success has-feedback': solicitudForm.correo.$valid}">
              <label for="correo" class="col-sm-3 control-label">Correo electrónico</label>
              <div class="col-sm-7">
                <input type="email" id="correo" name="correo" ng-model="solicitud.paciente.email" class="form-control"
                       placeholder="Ingrese un correo electrónico" required>
              </div>
            </div>

            <div class="form-group">
              <label for="grupoSanguineo" class="col-sm-3 control-label">Grupo sanguíneo</label>
              <div class="col-sm-7">
                <select id="grupoSanguineo" class="form-control" ng-model="solicitud.paciente.grupoSanguineo">
                  <option value=""></option>
                  <option ng-repeat="grupo in gruposSanguineos" value="{{grupo.id}}">{{grupo.nombre}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="nacimiento" class="col-sm-3 control-label">Fecha de nacimiento</label>
              <div class="col-sm-7">
                <p class="input-group">
                  <input uib-datepicker-popup="{{format}}" is-open="fechaDPNacimiento.opened" type="text" name="nacimiento" class="form-control" id="nacimiento" ng-model="solicitud.paciente.nacimiento"
                         datepicker-options="fechaNacimientoDPOptions" show-button-bar="false" placeholder="Ingresa la fecha de nacimiento del paciente" ng-required="true">
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePicker('nacimiento')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': solicitudForm.telefono.$invalid && !solicitudForm.telefono.$pristine,
                                             'has-success has-feedback': solicitudForm.telefono.$valid}">
              <label for="telefono" class="col-sm-3 control-label">Numero de teléfono</label>
              <div class="col-sm-7">
                <input type="text" id="telefono" pattern="\+?[\d()*-]+" name="telefono" ng-model="solicitud.paciente.telefono" class="form-control"
                       placeholder="Ingresa tu número de teléfono" maxlength="20" required>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Sexo</label>

              <div class="col-sm-5">
                <label class="radio" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                  <input type="radio" name="optionsGenero" id="masculino" value="1" ng-model="solicitud.paciente.genero">
                  <span class="fa fa-male"></span> Hombre
                </label>
                <label class="radio" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                  <input type="radio" data-toggle="radio" name="optionsGenero" id="femenino" value="2" ng-model="solicitud.paciente.genero">
                  <span class="fa fa-female"></span> Mujer
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="provincia" class="col-sm-3 control-label">Provincia</label>
              <div class="col-sm-7">
                <select class="form-control" id="provincia" ng-model="solicitud.paciente.direccion.provincia" ng-change="obtenerLocalidades(solicitud.paciente.direccion.provincia)">
                  <option ng-repeat="provincia in provincias" value="{{provincia.id}}"> {{provincia.nombre}} </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="localidad" class="col-sm-3 control-label">Localidad</label>
              <div class="col-sm-7">
                <select class="form-control" id="localidad" ng-model="solicitud.paciente.direccion.localidad">
                  <option ng-repeat="localidad in localidades" value="{{localidad.id}}"> {{localidad.nombre}} </option>
                </select>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': solicitudForm.calle.$invalid && !solicitudForm.calle.$pristine,
                                             'has-success has-feedback': solicitudForm.calle.$valid}">
              <label for="calle" class="col-sm-3 control-label">Calle</label>
              <div class="col-sm-7">
                <input type="text" id="calle" name="calle" ng-model="solicitud.paciente.direccion.calle" class="form-control"
                       placeholder="Ingrese el nombre de la calle de su domicilio" required>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': solicitudForm.numero.$invalid && !solicitudForm.numero.$pristine,
                                             'has-success has-feedback': solicitudForm.numero.$valid}">
              <label for="numero" class="col-sm-3 control-label">Número</label>
              <div class="col-sm-7">
                <input type="number" pattern=".{1,7}" id="numero" name="numero" ng-model="solicitud.paciente.direccion.numero" class="form-control"
                       placeholder="Ingrese el número de la calle de su domicilio" min="0" required>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': solicitudForm.piso.$invalid && !solicitudForm.piso.$pristine,
                                                'has-success has-feedback': solicitudForm.piso.$valid}">
              <label for="piso" class="col-sm-3 control-label">Piso</label>
              <div class="col-sm-7">
                <input type="number" max="2147483647" id="piso" name="piso" ng-model="solicitud.paciente.direccion.piso" class="form-control"
                       placeholder="Ingrese el número de piso de su domicilio">
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': solicitudForm.numeroDepartamento.$invalid && !solicitudForm.numeroDepartamento.$pristine,
                                                'has-success has-feedback': solicitudForm.numeroDepartamento.$valid}">
              <label for="numeroDepartamento" class="col-sm-3 control-label">Número de departamento</label>
              <div class="col-sm-7">
                <input type="number" pattern=".{1,7}" id="numeroDepartamento" name="numeroDepartamento" ng-model="solicitud.paciente.direccion.numeroDepartamento" class="form-control"
                       placeholder="Ingrese el número de departamento de su domicilio">
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-6">

        <div class='header' style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;'>
          <h4 class='title'>
            <span class="fa fa-heartbeat fa-lg" aria-hidden="true"></span>
            &nbsp;&nbsp; Datos de la solicitud
          </h4>
        </div>

        <div class="content">
          <div class="form-group">
            <label for="tituloSolicitud" class="col-sm-3 control-label">Titulo</label>
            <div class="col-sm-7">
              <input type="text" id="tituloSolicitud" name="tituloSoilicitud" ng-model="solicitud.titulo" class="form-control"
                     placeholder="Ingrese el titulo de la solicitud" required>
            </div>
          </div>
          <div class="form-group">
            <label for="donanteNecesarios" class="col-sm-3 control-label">Donantes necesarios</label>
            <div class="col-sm-7">
              <input type="number" id="donanteNecesarios" name="donantesNecesarios" ng-model="solicitud.donantesNecesarios" class="form-control"
                     placeholder="Ingrese la cantidad de donantes necesarios" maxlength="2" required>
            </div>
          </div>

          <div class="form-group">
            <label for="fechaInicio" class="col-sm-3 control-label">Fecha de inicio</label>
            <div class="col-sm-7">
              <p class="input-group">
                <input uib-datepicker-popup="{{format}}" is-open="fechaDPInicio.opened" type="text" name="fechaInicio" class="form-control" id="fechaInicio" ng-model="solicitud.fechaInicio"
                       datepicker-options="fechaInicioDPOptions" show-button-bar="false" placeholder="Ingresa la fecha de inicio de la solicitud aqui" ng-required="true">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openDatePicker('fechaInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <label  class="col-sm-3 control-label">Hora de inicio</label>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"  >
              <uib-timepicker style="margin: 0 auto;  margin-bottom: 10px;" ng-model="solicitud.horaInicio" ng-required="true"></uib-timepicker>
            </div>
          </div>
          <div class="form-group">
            <label for="fechaFin" class="col-sm-3 control-label">Fecha de finalización</label>
            <div class="col-sm-7">
              <p class="input-group">
                <input uib-datepicker-popup="{{format}}" is-open="fechaDPFin.opened" type="text" name="fechaFin" class="form-control" id="fechaFin" ng-model="solicitud.fechaFin"
                       datepicker-options="fechaFinDPOptions" show-button-bar="false" placeholder="Ingresa la fecha de finalizacion de la solicitud aqui" ng-required="true">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="establecerHoraFin()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            <label  class="col-sm-3 control-label">Hora de finalización</label>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"  >
              <uib-timepicker style="margin: 0 auto;  margin-bottom: 10px;" ng-model="solicitud.horaFin" ng-required="true"></uib-timepicker>
            </div>
            </div>

          <div class="form-group">
            <label for="tipoSolicitud" class="col-sm-3 control-label">Tipo de solicitud</label>
            <div class="col-sm-7">
              <select class="form-control" id="tipoSolicitud" ng-model="solicitud.idTipoSolicitud" required>
                <option ng-repeat="tipo in tiposSolicitudes" value="{{tipo.id}}"> {{tipo.nombre}} </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">Grupos sanguineos necesarios</label>
            <div class="col-sm-7">
              <a ng-repeat="grupo in gruposSanguineos | orderBy:'nombre'"  ng-click="addGrupoSanguineo(grupo)" popover-trigger="mouseenter" popover-placement="bottom"
                 uib-popover="{{checkPopover[grupo.id]}}" ng-class="checkClass[grupo.id]" style="margin: 5px; ">
                <span class="" aria-hidden="true"></span>
                {{grupo.nombre}}
              </a>
            </div>
          </div>
          <div class="form-group">
            <label for="centroDonacion" class="col-sm-3 control-label">Centro de donación</label>
            <div class="col-sm-7">
              <select class="form-control" id="centroDonacion" ng-model="solicitud.idCentroDonacion" required>
                <option ng-repeat="centro in centrosDonacion" value="{{centro.id}}"> {{centro.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        </div>

        <div class="col-sm-12">
          <div class='header' style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;'>
            <h4 class='title'>
              <span class="fa fa-history fa-lg" aria-hidden="true"></span>
              &nbsp; Historia
            </h4>
          </div>

          <div class="content">
            <textarea rows="5" id="historia" name="historia" ng-model="solicitud.historia" class="form-control"
                   placeholder="Aquí puedes escribir la historia de la persona">
            </textarea>
          </div>
        </div>

        <div class="col-sm-12" flow-init flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-name="solicitud.imagenes">
          <div class='header' style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;'>
            <h4 class='title'>
              <span class="fa fa-camera fa-lg" aria-hidden="true"></span>
              &nbsp;&nbsp; Fotos
              <div class="pull-right">
                <span class="btn btn-default btn-fill" ng-hide="$flow.files.length == 3" id="inputImagen" flow-btn>
                  <span class="fa fa-camera"></span>
                  <span ng-hide="$flow.files.length">Seleccionar foto</span>
                  <span ng-show="$flow.files.length">Agregar más fotos</span>
                </span>
                <a class="btn btn-default" ng-show="$flow.files.length == 3" style="cursor: default">
                  <span class="fa-stack">
                    <i class="fa fa-camera fa-stack-1x" style="margin-left: 3px"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                  </span>
                  <span class="hidden-xs">No puedes agregar fotos</span>
                </a>
                <span ng-click="$flow.files[$flow.files.length - 1].cancel()" class="btn btn-fill btn-danger" ng-show="$flow.files.length">
                  <span class="fa fa-remove" aria-hidden="true"></span>
                  <span class='hidden-xs'>Eliminar foto</span>
                </span>
              </div>
            </h4>
          </div>
          <div class="content">

            <span class="col-md-12 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom: 10px; border: dashed 2px grey; border-radius: 10px; line-height: 200px;  text-align: center; color: black" ng-hide="$flow.files[0]" flow-drop>
              <span class="fa fa-plus"></span> Agrega una foto aquí
            </span>
            <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12" ng-show="$flow.files[0]">
              <img class="img-responsive img-rounded" style="max-height: 250px; margin: 0 auto; margin-bottom: 10px;" flow-img="$flow.files[0]" />
            </div>
            <span class="col-md-12 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom: 10px; border: dashed 2px grey; border-radius: 10px; line-height: 200px;  text-align: center; color: black" ng-hide="!$flow.files[0] || $flow.files[1]" flow-drop>
              <span class="fa fa-plus"></span> Agrega una foto aquí
            </span>
            <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12" ng-show="$flow.files[1]">
              <img class="img-responsive img-rounded" style="max-height: 200px; margin: 0 auto; margin-bottom: 10px;" flow-img="$flow.files[1]" />
            </div>
            <span class="col-md-12 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom: 10px; border: dashed 2px grey; border-radius: 10px; line-height: 200px;  text-align: center; color: black" ng-hide="!$flow.files[1] || $flow.files[2]" flow-drop>
              <span class="fa fa-plus"></span> Agrega una foto aquí
            </span>
            <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12" ng-show="$flow.files[2]">
              <img class="img-responsive img-rounded" style="max-height: 250px; margin: 0 auto; margin-bottom: 10px;" flow-img="$flow.files[2]" />
            </div>
          </div>
        </div>

        <div class="col-sm-12" flow-init="{singleFile:true}" flow-name="solicitud.video" flow-file-added="!!{mp4:1}[$file.getExtension()]">
          <div class='header' style='padding-top:10px;padding-bottom:10px;margin-bottom:15px;'>
            <h4 class='title'>
              <span class="fa fa-video-camera fa-lg" aria-hidden="true"></span>
              &nbsp;&nbsp; Video
            <div class="pull-right">
              <span class="btn btn-default btn-fill" id="inputVideo" ng-hide="$flow.files.length" flow-btn>
                    <span class="fa fa-video-camera"></span>
                    <span ng-hide="$flow.files.length">Agregar video</span>
                    <span ng-show="$flow.files.length">Cambiar video</span>
              </span>
              <span ng-click="$flow.files[0].cancel()" class="btn btn-fill btn-danger" ng-show="$flow.files.length">
                  <span class="fa fa-remove" aria-hidden="true"></span>
                  <span class='hidden-xs'>Eliminar video</span>
                </span>
            </div>
            </h4>
          </div>

          <div class="content">
            <span class="col-md-12 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12" style="margin-bottom: 10px; border: dashed 2px grey; border-radius: 10px; line-height: 50px; text-align: center; color: black" ng-hide="$flow.files.length" flow-drop>
              <span class="fa fa-plus-circle"></span> Arrastra tu video aquí
            </span>
            <span class="btn btn-success btn-fill col-md-12 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12" style="margin-bottom: 10px; line-height: 50px; cursor: default" ng-show="$flow.files.length">
              <span class="fa fa-check"></span> ¡Video {{$flow.files[0].file.name}} cargado con éxito!
            </span>

          </div>
        </div>
        <div class="col-sm-12">
          <div class="pull-right">
            <button type="submit" class="btn btn-danger btn-fill" ng-disabled="solicitudForm.$invalid">
              <i class="fa fa-heartbeat"></i> Crear solicitud
            </button>
          </div>
        </div>
      </form>
  </div>
</div>
