<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">
              <span class="fa fa-book fa-lg"></span>
              &nbsp;&nbsp;Libreta de donación
              <div class="pull-right">
                <a class="btn btn-fill btn-danger btn-sm" ui-sref="dashboard.registrar-donacion">
                  <span class="fa fa-tint" aria-hidden="true"></span>
                  <span class='hidden-xs'>Nueva donación</span>
                </a>
              </div>
              <span class="clearfix"></span>
            </h4>
            <p class="category">Aquí puedes observar todas las donaciones que has realizado.</p>

          </div>

          <div class="content" ng-show="perfil.registro.donaciones.length == 0">
            Todavía no has registrado ninguna donación
          </div>

          <div class="content table-responsive table-full-width" ng-show="perfil.registro.donaciones.length > 0">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Lugar</th>
                  <th>Descripción</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="donacion in perfil.registro.donaciones">
                <td>{{donacion.fechaHora | date:'dd/MM/yyyy'}}</td>
                <td>{{donacion.fechaHora | date:'HH:mm'}}hs.</td>
                <td ng-show="donacion.lugarDonacion.lugarCentro != null">Centro de donación</td>
                <td ng-show="donacion.lugarDonacion.lugarEventoDonacion != null">Evento</td>
                <td ng-show="donacion.lugarDonacion.lugarCentro == null && donacion.lugarDonacion.lugarEventoDonacion == null">Otro</td>
                <td ng-show="donacion.lugarDonacion.lugarCentro != null">{{donacion.lugarDonacion.lugarCentro.nombre}}</td>
                <td ng-show="donacion.lugarDonacion.lugarEventoDonacion != null">{{donacion.lugarDonacion.lugarEventoDonacion.evento.nombre}}</td>
                <td ng-show="donacion.lugarDonacion.lugarCentro == null && donacion.lugarDonacion.lugarEventoDonacion == null">{{donacion.lugarDonacion.direccion.localidad.provincia.nombre}}, {{donacion.lugarDonacion.direccion.localidad.nombre}}, {{donacion.lugarDonacion.direccion.calle}} {{donacion.lugarDonacion.direccion.numero}}</td>
                <td>
                  <button ng-click="modalVerificar(donacion.id)" ng-show="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Sin verificar'" popover-trigger="mouseenter" popover-placement="top" uib-popover="Verifica tu donación" class="btn btn-xs btn-success">
                    <span class="fa fa-key"></span>
                  </button>
                  <button ng-show="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Pendiente'" popover-trigger="mouseenter" popover-placement="top" uib-popover="Tu donación está siendo evaluada" class="btn btn-xs btn-warning">
                    <span class="fa fa-clock-o"></span>
                  </button>
                  <span ng-show="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Verificada'" class="btn btn-xs" style="cursor: default;">
                    <span class="fa fa-unlock"></span>
                  </span>
                  <span class="hidden-md hidden-sm hidden-xs">&nbsp;{{donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre}}</span>
                </td>
                <td>
                  <div class="btn-group btn-group-sm" role="group">
                    <button popover-trigger="mouseenter" popover-placement="top" uib-popover="Visualizar" type="button" ng-click="modalVisualizar(donacion.id)" class="btn btn-default">
                      <span class="fa fa-eye"></span><span ng-show="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Verificada'">&nbsp;Visualizar</span>
                    </button>
                    <button ng-hide="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Verificada'" ui-sref="dashboard.editar-donacion({donacionID: donacion.id})" popover-trigger="mouseenter" popover-placement="top" uib-popover="Editar" type="button" class="btn btn-fill btn-default">
                      <span class="fa fa-edit"></span>
                    </button>
                    <button ng-hide="donacion.historicoEstados[donacion.historicoEstados.length-1].estado.nombre == 'Verificada'" popover-trigger="mouseenter" popover-placement="top" ng-click="modalEliminar(donacion.id)" uib-popover="Eliminar" type="button" class="btn btn-fill btn-danger">
                      <span class="fa fa-trash"></span>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
