<div class="modal-header" style="background-color: #FB404B; color: white">
  <div style="display: inline-block">
    <h3 class="modal-title">
      <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
      &nbsp;&nbsp; Mi donación
    </h3>
  </div>
  <div class="pull-right" style="display: inline-block">
    <a href="" ng-click="cerrarModal()" style="color: white">
      <i class="fa fa-times fa-lg"></i>
    </a>
  </div>
</div>
  <div class="modal-body">
    <div class="row" ng-hide="loading">
      <div class="col-sm-6" style="line-height: 200px; margin-top: 10px; margin-bottom: 10px">
        <span class="loading">
          <i style="width: 100%" class="fa fix fa-spin fa-refresh fa-3x fa-fw"></i>
        </span>
        <img class="img-responsive img-rounded center-block" img-preload style="max-width: 100%;" ng-src="{{ donacion.foto ? donacion.foto : '../../img/donacion-defecto.png'}}">
      </div>
      <hr class="visible-xs" style="border-color: #FB404B">
      <div class="col-sm-6">
        <h4 class="text-center" style="margin-top: 5px">Datos de la donación</h4>
        <div style="margin-top: 20px">
          <h5>
            <span class="fa fa-calendar fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.fechaHora | date:'fullDate'}}
          </h5>
        </div>
        <div style="margin-top: 20px">
          <h5>
            <span class="fa fa-clock-o fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.fechaHora | date:'HH:mm'}}hs.
          </h5>
        </div>
        <div style="margin-top: 20px" ng-show="donacion.lugarDonacion.lugarCentro">
          <h5>
            <span class="fa fa-hospital-o fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.lugarDonacion.lugarCentro.nombre}}
          </h5>
        </div>
        <div style="margin-top: 20px" ng-show="donacion.lugarDonacion.lugarEventoDonacion">
          <h5>
            <span class="fa fa-calendar-check-o fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.lugarDonacion.lugarEventoDonacion.evento.nombre}}
          </h5>
        </div>
        <div style="margin-top: 20px" ng-show="!donacion.lugarDonacion.lugarCentro && !donacion.lugarDonacion.lugarEventoDonacion">
          <h5>
            <span class="fa fa-map-marker fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.lugarDonacion.direccion.localidad.provincia.nombre}}, {{donacion.lugarDonacion.direccion.localidad.nombre}}, {{donacion.lugarDonacion.direccion.calle}} {{donacion.lugarDonacion.direccion.numero}}
          </h5>
        </div>
        <div style="margin-top: 20px" ng-show="sentimiento">
          <h5>
            <span class="fa fa-comment fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;Me sentí {{sentimiento.nombre}}
            <br>
            &nbsp;&nbsp;<img ng-src="{{sentimiento.img}}" class="center-block img-responsive">
          </h5>
        </div>
        <div style="margin-top: 20px" ng-show="donacion.descripcion">
          <h5>
            <span class="fa fa-edit fa-lg" style="color: #FB404B"></span>
            &nbsp;&nbsp;{{donacion.descripcion}}
          </h5>
        </div>
      </div>
    </div>
    <div id="loading-bar-container" class="text-center" style="margin-bottom: 10px" ng-show="loading"></div>
    <div class="modal-footer">
    <button class="btn btn-default btn-fill" type="button" ng-click="cerrarModal()">
      <span class="fa fa-times"></span>&nbsp;Cerrar
    </button>

    <button class="btn btn-fill" style="background-color: #3B5998; border-color: #3B5998" href=""
            socialshare
            socialshare-provider="facebook"
            socialshare-text="¡Doné sangre en Manos por gotas! SUMATE Y SALVEMOS VIDAS"
            socialshare-description="{{donacion.descripcion}}"
            socialshare-media="https://rawgit.com/Renzo04/ionic/master/www/img/donacion-defecto.png">
      <span class="fa fa-facebook"></span>&nbsp;Compartir
    </button>
  </div>
</div>
