<div flow-init="{singleFile:true}" flow-file-added="!!{png:1,jpg:1,jpeg:1}[$file.getExtension()]">
  <form name="formAltaDonacion" class="form-horizontal" ng-submit="registrarDonacion($flow.files[0])" novalidate>

    <div class='col-sm-12'>

      <div class="card">

        <div class='header' style='padding-top:15px;padding-bottom:5px;margin-bottom:15px;'>
          <h4 class='title'>
            <span class="fa fa-tint fa-lg" aria-hidden="true"></span>
            &nbsp;&nbsp; Nueva donación
            <span class="pull-right">
              <span flow-btn class="btn btn-fill btn-default btn-sm">
                <span ng-hide="$flow.files.length" class="fa fa-camera" aria-hidden="true"></span>
                <span ng-hide="$flow.files.length" class='hidden-xs'>Agrega una foto</span>
                <span ng-show="$flow.files.length" class="fa fa-undo" aria-hidden="true"></span>
                <span ng-show="$flow.files.length" class='hidden-xs'>Cambiar foto</span>
              </span>
              <a ng-click="$flow.files[0].cancel()" class="btn btn-fill btn-danger btn-sm" ng-show="$flow.files[0]">
                <span class="fa fa-remove" aria-hidden="true"></span>
                <span class='hidden-xs'>Eliminar foto</span>
              </a>
            </span>
          </h4>
        </div>

        <div class="content">
          <div class="col-sm-12 padding-bottom">
            <pre class="hidden-xs" style="background-color: #FB404B; border-color: #FB404B; color: white">La donación fue realizada el día <strong>{{donacion.fecha ? (donacion.fecha | date:'fullDate') : '....'}}</strong> a las <strong>{{donacion.hora ? (donacion.hora | date:'shortTime') : '....'}}</strong>hs.</pre>
            <pre class="visible-xs" style="background-color: #FB404B; border-color: #FB404B; color: white">Día: <strong>{{donacion.fecha ? (donacion.fecha | date:'dd/MM/yyyy') : '....'}}</strong> a las <strong>{{donacion.hora ? (donacion.hora | date:'shortTime') : '....'}}</strong>hs.</pre>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">

            <span class="col-md-12 col-lg-4 col-sm-12 col-xs-12" style="margin-bottom: 10px; border: dashed 2px grey; border-radius: 5px; line-height: 244px;  text-align: center; color: black" ng-hide="$flow.files.length" flow-drop>
              <span class="fa fa-camera"></span> Arrastra tu foto aquí
            </span>

            <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12" ng-show="$flow.files.length">
              <img class="img-responsive img-rounded" style="max-height: 250px; margin: 0 auto; margin-bottom: 10px;" flow-img="$flow.files[0]" />
            </div>

            <div class="col-md-8 col-lg-4 col-sm-12 col-xs-12">
              <uib-datepicker style="display: table; margin: 0 auto; margin-bottom: 10px" ng-model="donacion.fecha" datepicker-options="DPOptions" ng-required="true"></uib-datepicker>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" >
              <uib-timepicker style="margin: 0 auto;  margin-bottom: 10px" ng-model="donacion.hora" ng-required="true"></uib-timepicker>
            </div>
          </div>

          <div class="clearfix"></div>
          <hr>

          <div class="form-group">
            <label class="col-sm-3 control-label">Lugar de la donación</label>

            <div class="col-sm-5">
              <label class="radio" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" name="optionsLugar" id="opcionCentro" value="1" ng-model="donacion.lugar" ng-required="!donacion.lugar" ng-change='cambioLugar()'>
                <span class="fa fa-hospital-o"></span> Centro de donación
              </label>
              <label class="radio" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="optionsLugar" id="opcionEvento" value="2" ng-model="donacion.lugar" ng-required="!donacion.lugar" ng-change='cambioLugar()'>
                <span class="fa fa-calendar"></span> Evento
              </label>

              <label class="radio" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="optionsLugar" id="opcionOtro" value="3" ng-model="donacion.lugar" ng-required="!donacion.lugar" ng-change='cambioLugar()'>
                <span class="fa fa-map-marker"></span> Ubicación
              </label>
            </div>
          </div>


          <div class="form-group" ng-show="donacion.lugar == 1">
            <label for="centroDonacion" class="col-sm-3 control-label">Centro de donación</label>
            <div class="col-sm-7">
              <select class="form-control" id="centroDonacion" ng-model="donacion.centroDonacion">
                <option ng-repeat="centro in centros" value="{{centro.id}}"> {{centro.nombre}} </option>
              </select>
            </div>
          </div>

          <div class="form-group" ng-show="donacion.lugar == 2">
            <label for="evento" class="col-sm-3 control-label">Evento</label>
            <div class="col-sm-7">
              <select class="form-control" id="evento" ng-model="donacion.evento">
                <option ng-repeat="evento in eventos" value="{{evento.id}}"> {{evento.nombre}} </option>
              </select>
            </div>
          </div>

          <div ng-show="donacion.lugar == 3">

            <div class="form-group">
              <label for="provincia" class="col-sm-3 control-label">Provincia</label>
              <div class="col-sm-7">
                <select class="form-control" id="provincia" ng-model="donacion.direccion.provincia" ng-change="obtenerLocalidades(donacion.direccion.provincia)">
                  <option ng-repeat="provincia in provincias" value="{{provincia.id}}"> {{provincia.nombre}} </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="localidad" class="col-sm-3 control-label">Localidad</label>
              <div class="col-sm-7">
                <select class="form-control" id="localidad" ng-model="donacion.direccion.localidad">
                  <option ng-repeat="localidad in localidades" value="{{localidad.id}}"> {{localidad.nombre}} </option>
                </select>
              </div>
            </div>


            <div class="form-group" ng-class="{'has-error': formAltaDonacion.calle.$invalid && !formAltaDonacion.calle.$pristine,
                                               'has-success has-feedback': formAltaDonacion.calle.$valid}">
              <label for="calle" class="col-sm-3 control-label">Calle</label>
              <div class="col-sm-7">
                <input type="text" id="calle" name="calle" ng-model="donacion.direccion.calle" class="form-control"
                       placeholder="Ingrese el nombre de la calle">
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': formAltaDonacion.numero.$invalid && !formAltaDonacion.numero.$pristine,
                                               'has-success has-feedback': formAltaDonacion.numero.$valid}">
              <label for="numero" class="col-sm-3 control-label">Número de calle</label>
              <div class="col-sm-7">
                <input type="number" pattern=".{1,7}" id="numero" name="numero" ng-model="donacion.direccion.numero" class="form-control"
                       placeholder="Ingrese el número de la calle" min="0">
              </div>
            </div>
          </div>
          <hr>

          <div class="form-group">
            <label class="col-sm-3 control-label">¿Cómo te sentiste?</label>

            <div class="col-sm-7">
              <label id="sentMuyMal" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" name="sentimientos" value="1" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/muy-mal.png" class="img-responsive center-block"> Muy mal
              </label>
              <label id="sentMal" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="sentimientos" value="2" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/mal.png" class="img-responsive center-block"> Mal
              </label>
              <label id="sentDescompuesto" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="sentimientos" value="3" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/descompuesto.png" class="img-responsive center-block">
                <span class="hidden-xs hidden-sm">Descompuesto</span>
                <span class="visible-xs visible-sm">Descomp.</span>
              </label>
              <label id="sentBien" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="sentimientos" value="4" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/bien.png" class="img-responsive center-block"> Bien
              </label>
              <label id="sentMuyBien" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="sentimientos" value="5" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/muy-bien.png" class="img-responsive center-block"> Muy bien
              </label>
              <label id="sentExcelente" class="radio text-center col-sm-4" style="padding-top: 0; padding-left: 20px">
                      <span class="icons">
                        <span class="first-icon fa fa-circle-o"></span>
                        <span class="second-icon fa fa-dot-circle-o"></span>
                      </span>
                <input type="radio" data-toggle="radio" name="sentimientos" value="6" ng-model="donacion.estado" ng-required="!donacion.estado">
                <img src="../../img/sentimientos/excelente.png" class="img-responsive center-block"> Excelente
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion" class="col-sm-3 control-label">¡Añade tu experiencia para compartirla con tus amigos!</label>
            <div class="col-sm-7">
                <textarea id="descripcion" class="form-control" ng-model="donacion.descripcion" rows="4"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="pull-right">
                <button type="submit" class="btn btn-danger btn-fill"
                        ng-disabled="(!donacion.fecha || !donacion.hora) ||
                                     !donacion.centroDonacion &&
                                     !donacion.evento &&
                                     (!donacion.direccion.localidad || !donacion.direccion.calle || !donacion.direccion.numero)">
                  <i class="fa fa-tint"></i> Registrar donación
                </button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>
</div>
