<div class="modal-header" style="background-color: #FB404B; color: white">
  <div style="display: inline-block">
  <h3 class="modal-title">
      <span class="fa fa-sign-in fa-lg" aria-hidden="true"></span>
      &nbsp;&nbsp; Iniciar sesión
    </h3>
  </div>
  <div class="pull-right" style="display: inline-block">
    <a href="" ng-click="close()" style="color: white">
      <i class="fa fa-times fa-lg"></i>
    </a>
  </div>
</div>


<form name="validateLogin" role="form" class="form-horizontal" ng-submit="login()" novalidate>
  <div class="modal-body">

    <div class="form-group">

      <label for="email" class="col-sm-2 control-label">Correo electrónico</label>

      <div class="col-sm-9" required>
        <input type="email" class="form-control" ng-model="credentials.email"
               id="email" required>

        <p ng-show="validateLogin.email.$invalid && validateLogin.email.$touched"
           class="help-block"> Debe ingresar un correo electrónico de usuario. </p>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Contraseña</label>

      <div class="col-sm-9" required>
        <input type="password" class="form-control" ng-model="credentials.password"
               id="password" required>

        <p ng-show="validateLogin.password.$invalid && validateLogin.password.$touched"
           class="help-block"> Debe ingresar una contraseña. </p>
      </div>
    </div>

    <div class="text-center">
      <a style="color: #333" href="" ng-click="resetPass()">
        <b>¿Olvidaste tu contraseña?</b>
      </a>
    </div>

    <h5 class="text-center">
      Si no posees una cuenta <a href="" ng-click="openRegistroModal()"><span class="label label-danger" style="font-size: 12px;">regístrate</span></a>
    </h5>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger btn-fill" ng-disabled="validateLogin.$invalid">
      <i class="fa fa-sign-in"></i>
      &nbsp;Iniciar sesión
    </button>

    <div class="pull-left">
      <a fb-login class="btn btn-fill" ng-click="close()" style="background-color: #3b5998; border-color: #3b5998">
        <i class="fa fa-facebook-f"></i>
        <span class="hidden-xs">&nbsp;Ingresar con Facebook</span>
      </a>
    </div>
  </div>
</form>

