<ion-view>
  <ion-content>

    <form name="validateLogin" role="form" ng-submit="login()" novalidate>
      <div class="form-group">
        <label for="usernameInput">Nombre de usuario</label>
        <input type="text" class="form-control" ng-model="credentials.username" id="usernameInput" placeholder="Nombre de usuario" required>
      </div>
      <div class="form-group">
        <label for="passwordInput">Contraseña</label>
        <input type="password" class="form-control" ng-model="credentials.password" id="passwordInput" placeholder="Contraseña" required>
      </div>

      <button type="submit" class="btn btn-success">Iniciar sesión</button>
    </form>
  </ion-content>
</ion-view>
