<div class="modal-header" style="background-color: #FB404B; color: white">
  <div style="display: inline-block">
    <h3 class="modal-title">
      <span class="fa fa-sign-out fa-lg" aria-hidden="true"></span>
      &nbsp;&nbsp; Cerrar sesión
    </h3>
  </div>
  <div class="pull-right" style="display: inline-block">
    <a href="" ng-click="close()" style="color: white">
      <i class="fa fa-times fa-lg"></i>
    </a>
  </div>
</div>

<div class="modal-body">
  <h4 class="text-center">¿Realmente deseas cerrar sesión?</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-fill" type="button" ng-click="logoff()">
    <span class="fa fa-sign-out"></span>Cerrar sesión
  </button>
</div>
