<div class="container">
  <div class="row text-center">

    <h2 class="visible-md visible-lg visible-sm">¡Felicitaciones, te has registrado correctamente!</h2>
    <h2 class="visible-xs">¡Registro exitoso!</h2>
    <img class="img-responsive center-block" src="../../img/registro-exito.png">

    <h4>Pronto recibirás un correo para activar tu cuenta.</h4>
    <hr>
    <p>Si el link de confirmación no funciona ingresa tu código <a ui-sref="home.activar-cuenta-clave">aquí</a>.</p>

  </div>

</div>

