<div class="modal-header" style="background-color: #FB404B; color: white">
  <div style="display: inline-block">
    <h3 class="modal-title">
      <span class="fa fa-user-plus fa-lg" aria-hidden="true"></span>
      &nbsp;&nbsp; Nuevo donante
    </h3>
  </div>
  <div class="pull-right" style="display: inline-block">
    <a href="" ng-click="close()" style="color: white">
      <i class="fa fa-times fa-lg"></i>
    </a>
  </div>
</div>
<form name="formRegistro" role="form" class="form-horizontal" ng-submit="signup()" novalidate>
  <div class="modal-body">

    <div class="form-group" ng-class="{'has-error': formRegistro.correo.$invalid && !formRegistro.correo.$pristine,
                                             'has-success has-feedback': formRegistro.correo.$valid}">
      <label for="correo" class="col-sm-3 control-label">Correo electrónico</label>
      <div class="col-sm-8">
        <input type="email" id="correo" name="correo" ng-model="donante.email" class="form-control"
               placeholder="Ingrese un correo electrónico" required>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': formRegistro.confirmCorreo.$invalid && !formRegistro.confirmCorreo.$pristine || !formRegistro.confirmCorreo.$pristine && !correoCheck,
                                             'has-success has-feedback': formRegistro.confirmCorreo.$valid && correoCheck}">
      <label for="confirmCorreo" class="col-sm-3 control-label">Confirmar correo electrónico</label>
      <div class="col-sm-8">
        <input type="email" id="confirmCorreo" name="confirmCorreo" ng-model="donante.confirmCorreo" class="form-control"
               placeholder="Confirme su correo electrónico" ng-change="confirmarCorreo(formRegistro, donante.confirmCorreo)" ng-disabled="formRegistro.correo.$invalid || formRegistro.correo.$pristine" required>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': formRegistro.contrasenia.$invalid && !formRegistro.contrasenia.$pristine,
                                             'has-success has-feedback': formRegistro.contrasenia.$valid}">
      <label for="contrasenia" class="col-sm-3 control-label">Contraseña</label>
      <div class="col-sm-8">
        <input type="password" id="contrasenia" name="contrasenia" minlength="8" ng-model="donante.password" class="form-control"
               placeholder="Ingrese una contraseña con la que desee identificarse" required>
        <p ng-show="formRegistro.contrasenia.$invalid && formRegistro.contrasenia.$touched"
           class="help-block"> Su contraseña debe tener como mínimo 8 caracteres.</p>

      </div>
    </div>

    <hr>

    <div class="form-group" ng-class="{'has-error': formRegistro.nombre.$invalid && !formRegistro.nombre.$pristine,
                                             'has-success has-feedback': formRegistro.nombre.$valid}">
      <label for="nombre" class="col-sm-3 control-label">Nombre</label>
      <div class="col-sm-8">
        <input type="text" id="nombre" name="nombre" ng-model="donante.first_name" class="form-control"
               placeholder="Ingresa tu nombre" ng-pattern="/^([a-z ñáéíóú]{1,60})$/i" required>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': formRegistro.apellido.$invalid && !formRegistro.apellido.$pristine,
                                             'has-success has-feedback': formRegistro.apellido.$valid}">
      <label for="apellido" class="col-sm-3 control-label">Apellido</label>
      <div class="col-sm-8">
        <input type="text" id="apellido" name="apellido" ng-model="donante.last_name" class="form-control"
               placeholder="Ingresa tu apellido" ng-pattern="/^([a-z ñáéíóú]{1,60})$/i" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Sexo</label>

      <div class="col-sm-5">
        <label class="radio" style="padding-top: 0; padding-left: 20px">
          <span class="icons">
            <span class="first-icon fa fa-circle-o"></span>
            <span class="second-icon fa fa-dot-circle-o"></span>
          </span>
          <input type="radio" name="optionsGenero" id="masculino" value="1" ng-model="donante.genero">
          <span class="fa fa-male"></span> Hombre
        </label>
        <label class="radio" style="padding-top: 0; padding-left: 20px">
          <span class="icons">
            <span class="first-icon fa fa-circle-o"></span>
            <span class="second-icon fa fa-dot-circle-o"></span>
          </span>
          <input type="radio" data-toggle="radio" name="optionsGenero" id="femenino" value="2" ng-model="donante.genero">
          <span class="fa fa-female"></span> Mujer
        </label>
      </div>
    </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger btn-fill" ng-disabled="formRegistro.$invalid">
      <i class="fa fa-user-plus"></i>
      &nbsp;Registrarse
    </button>
    <div class="pull-left">
      <a fb-login class="btn btn-fill" ng-click="close()" style="background-color: #3b5998; border-color: #3b5998">
        <i class="fa fa-facebook-f"></i>
        <span class="hidden-xs">&nbsp;Ingresar con Facebook</span>
      </a>
    </div>
  </div>
</form>


