/*En este archivo se definen todos los css que se desean crear, o que se desean personalizar*/
.card label{
	color: black !important;
}
.alert-success {
  background-color: #dff0d8 !important;
}
.alert{
	color: #3c763d !important;
}
