/*En este archivo se definen todos los css que se desean crear, o que se desean personalizar*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  #b3aaaa !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #909!important;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #909!important;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #909!important;
}
.form-control {
  border-color: #b3aaaa !important ;
}
.alert-success {
  background-color: #dff0d8 !important;
}
.alert{
	color: #3c763d !important;
}
li > a{
color:#FB404B;
}
