.sidebar-image {
  background-image: url("../img/fondo-sidebar.png");
  background-size: cover;
  background-position: center center;
  display: block;
}

.prox-donacion-time {
  color: #9A9A9A !important;
  border: solid 2px #9A9A9A;
  border-radius: 3px;
  margin: 8px 5px !important;
}
.prox-donacion-donar {
  color: #FB404B !important;
  border: solid 2px #FB404B;
  border-radius: 3px;
  margin: 8px 5px !important;
}

.solicitudes-compatibles {
  color: #FB404B !important;
  border: solid 2px #FB404B;
  border-radius: 3px;
  margin: 8px 5px !important;
  cursor: pointer;
}

.no-solicitudes-compatibles {
  color: #9A9A9A !important;
  border: solid 2px #9A9A9A;
  border-radius: 3px;
  margin: 8px 5px !important;
  cursor: default;
}

.eventos-en-curso {
  color: #FB404B !important;
  border: solid 2px #FB404B;
  border-radius: 3px;
  margin: 8px 5px !important;
  cursor: pointer;
}

.no-eventos-en-curso {
  color: #9A9A9A !important;
  border: solid 2px #9A9A9A;
  border-radius: 3px;
  margin: 8px 5px !important;
  cursor: default;
}

.navbar-dashboard a:not(.btn):hover {
  color: #FB404B !important;
}

.avatar-sidebar {
  width: 95px;
  height: 95px;
  border: 2px solid white;
  position: relative;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin: 15px 0 10px 0;
  overflow: hidden;
}

.avatar-container {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.avatar-container a, .avatar-container a:hover, .avatar-container a:focus {
  color: white;
}
