.uib-datepicker-popup {
  opacity: 1 !important;
  visibility: visible !important;
}

.carousel-evento .carousel-inner {
  line-height: 320px;
}

.progress-bar-danger {
  background-color: #FB404B !important;
}

.pagination > li.active > a {
  background-color: #FB404B !important;
  border-color: #FB404B !important;
  color: white !important;
}

.pagination > li > a {
  color: #FB404B !important;
}
